[2018-08-03 18:50] redshiftzero opened #528 "Customizable, per-department resource page"
For each department, we should have the ability to add a customizable resource page that contains information like:

- How you file a complaint, and what a person should be aware of prior to filing a complaint (i.e. many people don't know that the complaints process is often totally broken and may result in additional risks to them)
- Other groups in that city that they can go to for support

This

[2018-08-03 19:04] redshiftzero commented on #515
For the interested observer, @dismantl and I had a chat in detail about next steps - I filed a few issues for the features we need to implement to support an instance of OpenOversight in Baltimore based on our convo. fwiw, as long as other groups are prepared for the long-term maintenance burden of running their own infra and don't want syncing with the main instance, then I see no problem with ot

[2018-08-03 19:04] #515 closed

[2018-08-03 22:12] dismantl commented on #462
It would also be great to allow departments to customize what the unique identifier is called, so it shows the appropriate label in the UI.

[2018-08-07 04:48] McEileen commented on #462
Hi all, thanks for being patient with my reply.  I went back to using vagrant and ran `(oovirtenv)vagrant@vagrant-ubuntu-trusty-64:/vagrant/OpenOversight$ python manage.py db migrate`.  As shown by the `(oovirtenv)` bit, I was within the virtual environment.  However, the command didn't generate any migrations and I got the terminal message `INFO  [alembic.env] No changes in schema detected.`
I'm

[2018-08-11 23:42] dismantl commented on #462
@McEileen can you push your WIP branch? I'd be happy to help you troubleshoot the database migration issue. And using `unique_internal_identifier` in the database makes sense to me!

[2018-08-12 02:46] tomx4096 commented on #527
This could be visually cool, but would it just be based purely on rank or the actual department structure? I think information like "officer X reports directly to Y" could be hard for outside observers to document.

[2018-08-13 06:57] tomx4096 commented on #527
@dismantl i was working on this but was unsure about where the data would come from (i ended up with the above PR). namely, it could be hard for an outsider to observe and document "officer X reports to Y". can it be in FOIA reports? some departments have the higher ranks listed online (http://assets.lapdonline.org/assets/pdf/new_org_chart.pdf) but not the entire roster hierarchy.

[2018-08-13 17:45] dismantl commented on #527
@tomx4096 yeah I actually got some of that data in a FOIA response for the Baltimore PD roster. Many, but not all, of the officer records list the ID of their supervisor, which could be used to build a partial hierarchy of the department (though unsure how disjointed it would be due to not all officers having this listed). But there currently isn't a data field in OO for a supervisor ID, so that w

[2018-08-13 18:12] #501 closed

[2018-08-15 18:27] dismantl commented on #527
@tomx4096 you can take a look at the [roster I got for BPD](https://cdn.muckrock.com/foia_files/2018/05/11/Active_employees_as_of_May_3_2018.xlsx). The column `EMPLID` shows city employee ID number, and then the `Supv ID` column indicates the employee ID number of their supervisor, if any. So a graph could potentially be built with that.

[2018-08-15 22:25] #443 closed

[2018-08-16 11:51] tomx4096 commented on #527
@dismantl thanks for the info and roster. i started a 2nd PR (#541 ) for an actual graph visualization

[2018-08-17 04:40] NatureBoyRS opened #542 "Timeout Error on vagrant up"
Hey all,

I'd like to contribute, and finally have a working computer -- but when I run vagrant up, I get the following error:

![2018-08-16-225929_1366x768_scrot](https://user-images.githubusercontent.com/42425804/44247985-9b329e00-a1ad-11e8-836c-7fdbf524a390.png)

I've tried a couple of times, follows the contrib instructions. Any suggestions?

[2018-08-17 21:54] abandoned-prototype commented on #542
Hi,
I don't have much experience with vagrant, but I am assuming there are a few things you can try. First of, is the image running in VirtualBox? You can see that by starting the VirtualBox GUI, where you should find an entry like "OpenOversight_default_" followed by some numbers, does it say "Running" below, or something else?
Which Operating system are you using and is VirtualBox up to date?
Di

[2018-08-17 21:57] b-meson commented on #542
i have had this issue before but restarting the OpenOversight VM and then doing `vagrant ssh` made it work. Have you tried that?

[2018-08-17 22:03] NatureBoyRS commented on #542
No friends, I was considerably more bone-headed than that ... apparently turning virtualization, in the BIOS, on, helps !

Thank you! Off to explore!!

[2018-08-17 22:04] b-meson commented on #542
@NatureBoyRS I literally did the exact same time.

[2018-08-17 22:04] #542 closed

[2018-08-18 06:02] #306 closed

[2018-08-19 00:56] #375 closed

[2018-08-19 04:38] #516 closed

[2018-08-19 05:57] redshiftzero commented on #326
And these ranks should be per-department

[2018-08-19 17:40] nmanfred commented on #377
Hi. I'm interested in this issue. I have a WIP for it (seen in photo) that associates all uploaded images with all the departments selected. But, since users can upload multiple photos, I think this might be confusing (maybe they mean to submit one department for the first image and another for the next), and could add work for taggers.

I was wondering if anyone has an idea about what this should

[2018-08-24 23:07] redshiftzero commented on #461
Fixed by... removing the vagrant dev env in #549 :joy:

[2018-08-24 23:07] #461 closed

[2018-08-25 01:46] #511 closed

[2018-09-02 16:33] McEileen commented on #496
I'm interested in working on this issue.

[2018-09-03 03:51] #496 closed

[2018-09-15 19:40] McEileen commented on #479
Hi, I'm interested in working on this issue.  I will let you know if I hit any blockers or have questions.

[2018-09-25 15:34] leeyspaul commented on #514
Hi! I'd like to help out with this. New around here, could I get an elaboration on this issue please? Thank you! :)

[2018-09-26 15:14] dismantl opened #558 "Allow admins to delete users"
There should be a UI feature to allow admins to remove users, so it doesn't require going into the database and removing them manually. Another option would be to add another CLI management command like `delete_user`.

[2018-09-26 15:16] dismantl opened #559 "Re-send confirmation email"
It would be nice if admins had the ability to re-send confirmation emails for users that have registered, in case the first email didn't reach their inbox for some reason.

[2018-09-26 15:45] profpickles opened #560 "Confirmation of image submission"
Can there be a "You've submitted" or some confirmation that appears when a person drags and drops the images into the Submit Images page?

Almost like food delivery apps that tells people to "relax, your food is on its way?"

[2018-09-29 19:05] camfassett commented on #514
To clarify, this would look like going through the roster of Berkeley police officers we obtained through a public records request, and double checking that against the info we have in OpenOversight. If you're interested in this issue, I can send you the roster we have! Just tag me in this issue or feel free to get in touch privately if that's easier

[2018-09-29 19:09] camfassett commented on #560
Hi @profpickles! Thanks for opening this issue. Right now, when someone uploads an image, confirmation takes the form of a check mark if the image was successfully submitted, and an "x" if something went wrong. Do you think if we included text on the submission page that explained, that would help? If we had something like "A check mark means your photograph was submitted to OpenOversight! If you

[2018-10-01 17:47] ssempervirens opened #561 "Configure markdown support for sphinx documentation"
Working on the OO docs and I know I for one would rather write in md than html. Seems to be an easy change in the sphinx config file to add md support.

From sphinx docs:
Install recommonmark:

```pip install recommonmark```

Add the Markdown parser to the source_parsers configuration variable in your Sphinx configuration file:

[code]

You can replace .md with a filename extension of your choice.

[2018-10-01 22:07] profpickles commented on #560
OH!!! I guess I was thinking (when I first used it), that the check mark
indicated that it was selected...almost as if it was the first step and
*then* I would submit. The suggestion you gave would work but I'm wondering
if it were even simpler...like "submitted!" would pop up along with the
check mark???

Thanks so much!

On Sat, Sep 29, 2018 at 3:09 PM camille <notifications@github.com> wrote:

[2018-10-02 17:45] redshiftzero commented on #561
If peeps prefer Markdown, then that's cool with me!

[2018-10-02 18:35] redshiftzero opened #562 "Add lawsuits BPD officers have been involved in"
There are few BPD officers in the city, and adding the court documents for all lawsuits BPD officers have been involved in is a nicely scoped research task that would be really useful for the Berkeley community.

The volunteer here would need to investigate:

- [ ] Where records of these lawsuits are stored and what is required (if anything) to access them
- [ ] For each officer in Berkeley (see h

[2018-10-02 18:37] redshiftzero commented on #514
This is a pretty short task (<1 hour).

[2018-10-05 23:42] red-bin commented on #562
Hi.

Based on https://www.cityofberkeley.info/uploadedFiles/Police/Level_3_-_General/GO%20C-62_05Jun24.pdf, the records can be found in a few places, but will all likely require a PRA request. Just based on this (old) document, it's likely any records'd be stored in physical form.

Place to submit PRA request to:
Records Bureau Subpoena Clerk
Records Bureau of the Support Services Division
Court L

[2018-10-05 23:47] redshiftzero commented on #562
Great investigation - do you know where information about lawsuits where cops have been sued by someone in the public would be stored? That is the highest priority to add (maybe PACER or equivalent?)

[2018-10-06 02:02] red-bin commented on #562
I'm not finding anything directly. There are some useful searches for court cases at the county level, but I'm not finding anything for Berkeley directly. The alameda sites might be scriptable, but you'd still have to do some post-scrape munging to remove a lot of crap - especially since the suits are not against individuals, but against the cities. Frustratingly, lots of Alameda's case/docket sea

[2018-10-20 19:49] dismantl commented on #560
I was also confused by this when I first used OO. I think it could benefit from some additional indicators of success or failure just to make it extra clear for the user what has happened. Maybe instead of the grey watermark of a checkmark or X, a green "success" and red "failed"?

[2018-10-24 20:13] b-meson opened #565 "Use pipenv"
As a developer I want my depencies up to date and pinned to hashes.

[2018-10-27 23:51] #502 closed

[2018-11-11 23:19] camfassett commented on #562
Hey @red-bin! My understanding is that court cases are not covered by public records laws like CPRA, because the records are already public, and just require someone to search. See: https://firstamendmentcoalition.org/2009/06/the-cpra-and-court-records/ (Please let me know if you have additional or alternative information though)

Honestly, it seems like finding relevant court records would simply

[2018-11-12 18:05] dismantl opened #568 "Return to previous page when logging in/out"
Currently when you log in or out, you get redirected to the home page. It would be helpful to take you back to the previous page you were on. The URL could probably be stored in the session object, similar to #421.

[2018-11-12 18:08] dismantl opened #569 "Replace birth year with age on officer profile"
Officer profiles currently display birth year when that data is available. It would probably be easier for the end user if it simply displays the officer's age (assuming DOB is available) instead of requiring them to do the math in their head.

[2018-11-12 18:12] dismantl opened #570 "Missing data points should be displayed as Unknown rather than None"
Officer profiles and the summary listings on the browse page currently show missing data points as "None", for instance race, gender, or birth year. It would be clearer and more accurate to display them as "Unknown".

![image](https://user-images.githubusercontent.com/2007008/48366643-7d75b780-e67c-11e8-8a07-e84bffe22195.png)

[2018-11-12 18:16] dismantl opened #571 "Remove blank space on officer profile when no photo available"
For desktop display, officer profiles that don't have any tagged photos have a big blank space on the page that feels awkward. I would suggest that blank space is either removed, or replaced with a "No photo available" silhouette image.

[2018-11-12 18:20] dismantl commented on #571
Also, and this is purely my personal opinion, I would prefer a different silhouette placeholder photo for the browse view. The noun project has some options: https://thenounproject.com/search/?q=police. Also a google image search for "police silhouette" offers some more options.

[2018-11-12 18:25] dismantl opened #572 "Per-department configurable ranks"
Each police department may have a different set of ranks. Instead of hardcoding the list in `choices.py`, it would be good to allow the admin of a department to input an ordered list of ranks. Maybe this could be included on a per-department settings page of some sort?

[2018-11-12 18:31] dismantl opened #573 "Better help text for descriptions and notes"
When editing an officer profile, there isn't any help text to differentiate between Descriptions and Notes. One is displayed publicly, the other is not, and this should be made clear for the user.

In addition, on the form pages for adding new descriptions or notes, there could be more helpful text such as 1) stating whether the added note or description will be public or not, 2) indicate which of

[2018-11-12 18:35] dismantl opened #574 "Add Link button on officer profile page"
Currently to add a link to an officer profile, you have to edit the whole profile and fill out the Links form at the bottom. A new user might not even know this functionality exists.

IMO it would make more sense for their to be a "New Link" button on the profile page similar to "New Note" and "New Description".

[2018-11-12 18:38] dismantl opened #575 "Add ability to moderate/approve user registrations"
Any user can register for an account on OO, and as soon as they confirm their email address they can start sorting and tagging images. To prevent the possibility of malicious users creating accounts to fuck with the photo tagging and sorting, it would be nice if admins had the ability to manually approve all new user registrations.

[2018-11-12 19:01] camfassett commented on #560
Okay, so if modifying the dropzone button so that it's either a green checkmark or a red x would sufficiently clarify, that seems very reasonable!

[2018-11-27 06:40] #495 closed

[2018-12-04 01:30] camfassett opened #576 "Remove/disable departments"
We should be able to make a department inactive AND remove departments altogether

[2018-12-09 01:37] McEileen opened #577 "Delete deprecated scripts in `database` folder"
I was looking at the `database` folder and the `README` indicates that every sql script except for `populate_officer_roster_and_assignment.sql` is deprecated.  Should we delete all of the other sql scripts in the `database` folder?

[2018-12-09 01:46] McEileen commented on #577
It looks like the materials in `OpenOversight/etl/chicago` are also out of date.  Could a project maintainer please okay deleting these, along with the old scripts in the `database` folder?  I don't want to remove something we could need in the future.  Thanks!

[2018-12-09 01:58] McEileen opened #578 "Delete ruby-version"
@r4v5 Since you [deleted the vagrant env](https://github.com/lucyparsons/OpenOversight/commit/f07d6174c8a2a03e74b5e2f1ccc5e1e4eb471daa), can we delete the ruby version file?  It seems like it was only needed for the vagrant env.

[2018-12-09 02:09] McEileen opened #579 "Delete `DOCKER_DEPLOY.md`"
@r4v5 These instructions about deploying with docker appear to be out of sync with the current project set-up.  Let me know if it's okay for me to delete this file.

[2018-12-09 04:37] r4v5 commented on #578
Yep, wipe it.

[2018-12-09 22:13] redshiftzero commented on #579
yep feel free!

[2018-12-09 22:17] redshiftzero commented on #577
Hey yep - we can blow away the `etl` folder and we can blow away the `*sql` scripts in the `database` folder. These are from the very early days of me messing with the roster data we had (prior to there being a Flask application). Now we can create the database using the sqlalchemy metadata, and load officers via the manage.py commands or the admin functionality in the web application. Feel free t

[2018-12-10 21:50] McEileen opened #580 "Write migration to remove period placeholders for officers that don't have a middle name"
Previously, middle name was a required field for officers.  To get around this, we used `.` or `..` as placeholders for officers who didn't have middle names.  The below screenshot shows an example.

![oomiddlenameperiods](https://user-images.githubusercontent.com/5529982/49763761-2ec73780-fc93-11e8-9c84-e04c2588e6cf.png)

Now that middle name is an optional field for officers, we can write a migr

[2018-12-10 21:51] camfassett commented on #580
Hey @McEileen! Sorry! This is not a bug. The periods (sometimes one, sometimes two) are there intentionally, to indicate that the officer did NOT have a MN on the roster we were given. At the time, I believe the MN field was not optional, and @redshiftzero decided that periods would be a decent placeholder for now.

[2018-12-10 22:03] redshiftzero commented on #580
So the task here is to go through and remove all these `.`s?

[2018-12-10 22:05] camfassett commented on #580
Yes, I believe that's the task here

[2018-12-10 22:06] McEileen commented on #580
Ahhhh, okay!  I didn't realize that.  I can edit the issue to make it "write a migration to remove periods as middle name placeholders."  Does that sound good?

[2018-12-10 22:07] redshiftzero commented on #580
yep ! :+1:

[2018-12-10 22:29] McEileen opened #581 "Tweak incident section of officer profile"
I'm still feeling out how I feel about this potential change, and I think it overlaps with potential changes proposed in #473.  Feedback would be appreciated!

Currently, if someone is viewing an officer profile, and the incident description doesn't fit in the description box, the description is cut off.  A user then has to click on the "Incident" link, which loads the separate incident page, to r

[2018-12-10 22:38] McEileen opened #582 "Add shortcut to officer profile page to return to department"
If someone is viewing the officer profile page and they want to return to the department page, there is currently no button to take them to the officer's department.  This seems like another issue that overlaps with #473.  Thoughts are welcome!  (I am not a design specialist.)

[2018-12-10 22:47] McEileen opened #583 "Remove duplicate profiles"
These two profiles appear to be duplicates.  (They have the same name and same first employment date.)
![seanaranasduplicate](https://user-images.githubusercontent.com/5529982/49766577-4a364080-fc9b-11e8-9493-c3dfed95943b.png)

Beside removing this specific duplicate, I wonder if there's any way to remove duplicates from the entire project?  It seems like it would require a mix of automation and h

[2018-12-10 22:52] McEileen opened #584 "Fix bug where last name and first name are switched for UC Berkeley Officer"
This officer profile has switched the officer's first and last name.  https://www.openoversight.com/officer/24830  I confirmed the error by locating "Brendan Tinney" on the UCPD directory page. https://ucpd.berkeley.edu/directory

The same error occurred here for Karla Rush. https://www.openoversight.com/officer/24827  I also located Rush on the UCPD directory page. https://www.openoversight.com/o

[2018-12-10 23:06] McEileen opened #585 "Incorrect photo on officer profile"
(Possibly connected to issue #363 and the ability to flag photos?)

This photo appears to be mistakenly placed on the officer profile.  https://www.openoversight.com/officer/12086  The officer is listed as black and female, but the individual officer is white and male.

[2018-12-10 23:22] McEileen opened #586 "Navigating to a page that doesn't exist restarts the scroll through officers browse"
I was skimming through the "browse officers" feature in CPD by increasing the page number listed in the url's `&page=` portion.  I edited the url to equal `https://www.openoversight.com/department/1?from_search=False&page=80` and saw that once the pagination reached the end of the officer profiles, it appeared to start paginating again at the beginning of the alphabet.  See below, which claims to

[2018-12-10 23:29] McEileen opened #587 "Remove "all incidents" link from department incident page"
The incidents page specific to each department includes a link, `All Incidents`, that displays all incidents reported through OO.  See below.

![allincidentslink](https://user-images.githubusercontent.com/5529982/49768148-034b4980-fca1-11e8-8ca7-435ec243b416.png)

I have a hard time imagining why someone looking at incidents in one specific city would want to see all incidents reported through OO.

[2018-12-11 18:12] McEileen opened #588 "Update the "about" page with current city info"
Currently, the [OpenOversight about page](https://www.openoversight.com/about) says that OpenOversight will launch in NYC in fall 2018.  Since we are past fall 2018 and OO has launched in NYC, we should update this.

Additionally, the about page makes no mention of the Baltimore OO instance.  I skimmed #515 and I'm under the impression that Baltimore OO will be hosting their own separate OO instan

[2018-12-12 23:54] dismantl commented on #588
@McEileen that's correct, we are launching our own (somewhat modified) instance. Hopefully in January if all goes well.

[2018-12-13 00:08] dismantl commented on #581
Maybe the "read more" link could just expand the section via javascript to show the whole description? That way we can avoid a page load.

[2018-12-14 18:16] camfassett opened #589 "Add "year" selector to browse officers/departments"
As OpenOversight obtains new rosters for our departments in 2019, it's important that our historical data remain easily available to the public, so that changes over time in officer assignments and who is an active officer can be determined.

I think the best way to do this is to add a "year" selector to the top of the "browse officers" page for each department.
<img width="1238" alt="screen shot

[2018-12-15 18:21] McEileen commented on #581
Yes, that's what I was picturing as well.

[2018-12-16 20:47] #579 closed

[2018-12-16 20:54] redshiftzero commented on #577
Closed by #590

[2018-12-16 20:54] #577 closed

[2018-12-16 20:54] redshiftzero commented on #578
Closed by #590

[2018-12-16 20:54] #578 closed

[2018-12-16 20:58] redshiftzero commented on #565
Hey so I have been using Pipenv in [other](https://github.com/freedomofpress/securedrop-client) [projects](https://github.com/freedomofpress/securedrop-proxy), and I find that while there are some nice features (e.g. `pipenv check`) it breaks quite a lot and I don't think the benefits justify the effort here (note that we would still need to generate `requirements.txt` during deployment so we'd wa

[2018-12-16 20:58] redshiftzero commented on #565
What do you think?

[2018-12-16 21:01] b-meson commented on #565
So yeah, I notice we have `dev-requirements.txt` and a `requirements.txt` and I don't know that pipenv has a great way of handing multiple requirements files. I thought this issue would be fairly small to do but I don't think its super important. Closing as _won't fix_

[2018-12-16 21:01] #565 closed

[2018-12-16 21:37] r4v5 opened #596 "Local test failure: test_functional.py:test_lastname_capitalization"
This works in CI but seems to break when us linux-users run it locally with `make test`:

[code]

[2018-12-16 21:55] #454 closed

[2018-12-16 21:55] redshiftzero commented on #596
Looks like this is due to https://github.com/mozilla/geckodriver/issues/659, upgrading geckodriver should do the trick here

The (obviously not desirable) deviation between CI and test/dev is due to the fact we have an old version of firefox used in CI ([45](https://github.com/lucyparsons/OpenOversight/blob/develop/.travis.yml#L5)) whereas we're pulling in latest `firefox-esr` from apt in local de

[2018-12-16 22:06] #489 closed

[2018-12-16 22:42] #596 closed

[2018-12-17 00:48] #479 closed

[2018-12-17 01:42] #569 closed

[2018-12-17 02:57] fritzdavenport commented on #161
Sounds like it's Matomo now? Looks like it can run in docker?

https://matomo.org/docs/installation/#start-the-installation

https://hub.docker.com/_/matomo

[2018-12-17 03:09] b-meson commented on #161
Yep the project definitely got renamed. We have thought about it but I think I stopped looking at it because it would have required PHP (this was a long time ago so my memo might be bad)

[2018-12-17 03:50] jrabbit commented on #570
![image](https://user-images.githubusercontent.com/178803/50065532-f3da6d80-0184-11e9-9578-f840c32aa799.png)
 Which fields still need this?

[2018-12-17 04:08] redshiftzero commented on #451
Heads up there is a pending PR for this in #506

[2018-12-17 04:20] jrabbit commented on #239
https://github.com/motet-a/jinjalint exists but doesn't seem too robust

[2018-12-17 17:13] camfassett opened #604 "Add a "last employment date" field"
When officers resign or quit, we should have a way of displaying that information. I think this could look like having two fields—last employment date field (which should default to N/A) and some sort of explanation/additional details field—i.e. if they resigned or were fired for some sort of misconduct issue.

[2018-12-17 21:19] RooneyMcNibNug commented on #363
Not sure if this should fall under "photo not useful" but what is to do about reporting improperly angled/rotated images like this?: https://www.openoversight.com/officer/12035

[2018-12-19 06:38] #582 closed

[2018-12-19 07:16] redshiftzero commented on #388
Python 3 is supported as of #552, the remaining task here is to use Python 3 in staging/prod

[2018-12-25 23:31] brianmwaters commented on #585
Perhaps we need a feature for folks to report findings like this (maybe after a certain amount of reports, the photo gets removed, or something)?

[2018-12-26 23:09] McEileen commented on #585
Yeah, I think that if we're going to open it up for anyone to report incorrect photos, there should be some sort of numeric cut-off (say, three reports) before the photo gets reviewed.  I'm concerned that if there's no such threshold, then bad actors who oppose OO's mission might flag valid photos.  However, we could also set a lower threshold for registered volunteers or admins.  Thoughts?

[2018-12-27 04:47] camfassett commented on #585
At this stage of the project, I don't anticipate that we have significant enough usage that we would get three reports on a single officer photo, and if we did, it would probably not be for some time. To allow us to act quickly to respond to remedy incorrect data, and I think it would make sense to have an alert after just one flag/report sent to all admins, or people that we designate (like maybe

[2018-12-27 05:09] camfassett commented on #363
Would this feature optimally be an email alert to admins, or rather show up as a notification for admins logged into the OO webapp? cc @redshiftzero @McEileen

[2018-12-29 03:07] McEileen commented on #585
Good point that we probably wouldn't have enough usage to get three reports on a single officer photo.  :+1: to all you said above.

[2018-12-29 03:11] McEileen commented on #363
I don't have a strong preference.  Jen?

[2018-12-29 16:03] dismantl commented on #572
The department-specific list of ranks should presumably be stored in the database for persistence. I would also say the department edit page (e.g. `/department/1/edit`) is probably the best place in the UI to configure the list of ranks.

Another idea is to add a CLI command to read in a list of ranks from a text file and apply it to the chosen department.

[2018-12-29 16:47] dismantl opened #610 "Editing officer with blank UID results in error"
Departments without unique internal identifiers shows the field as 'None' on officer profiles:
![image](https://user-images.githubusercontent.com/2007008/50540399-172af280-0b5f-11e9-8f1f-c161bdd8486e.png)

However, if you edit and save an officer's profile, it will save the UID as an empty string rather than NULL. This causes a problem when you edit a second officer's profile since the database wi

[2018-12-29 17:13] dismantl opened #611 "Unable to remove links from officer profiles"
After adding some links to an officer profile, I go to the edit officer page and remove the links and click Update. The action appears to be successful, yet the links remain on the officer profile.

[2018-12-29 17:16] dismantl commented on #611
If we move the links form to its own page (a la #574) and add the little edit and delete buttons to each entry (like Notes and Descriptions), that would probably be a good way to solve this.

[2018-12-29 18:45] dismantl commented on #413
Could we generalize this or expand on this to also allow users to report generally inaccurate information (e.g. outdated rank/assignment)?

[2018-12-30 02:17] sibrahi5 commented on #585
Profile image was removed. #363 takes into consideration flagging photos, which is better.

[2018-12-30 02:17] #585 closed

[2018-12-30 02:37] sibrahi5 commented on #583
Yep, pretty much catch suspected duplicates and then let humans make sure that they are indeed duplicates. If I can gain admin permissions for this department, I'd also delete this duplicate.

[2018-12-30 02:41] sibrahi5 commented on #364
A simpler categorization would be modeling after Muckrock's old classification system
Federal, State, City so Federal would give you Federal officers, State would give you state, and local would pull up local departments in the areas of interest.

[2019-01-01 22:38] nmorduch commented on #473
Someone else could definitely implement these mockups!

[2019-01-03 17:24] sibrahi5 opened #615 "Add an example of Boto3 access to our development documentation"
There are now two instances where development has been stalled due to needing an S3 bucket to play around with. As mentioned in #412, Boto3 https://boto3.amazonaws.com/v1/documentation/api/latest/index.html can be used to make a mock bucket. We should add this to our documentation so that others can get familiar with using boto to assist in development on OO.

[2019-01-03 18:11] #588 closed

[2019-01-05 21:53] redshiftzero opened #616 "Refactor upload view"
The [upload view](https://github.com/lucyparsons/OpenOversight/blob/71b790560dc045bcded0ed92f44a7e90fb2c642c/OpenOversight/app/main/views.py#L691) function has become quite long and is ripe for refactoring, we should probably break this view up a bit for testability (bonus points for writing out in the issue how you intend to refactor for feedback prior to implementing).

[2019-01-05 22:51] #376 closed

[2019-01-18 00:48] #587 closed

[2019-01-21 22:50] ejfox commented on #527
@tomx4096 @redshiftzero Your PR (https://github.com/lucyparsons/OpenOversight/pull/541) looks awesome to me. Is there any remaining work needed to bring it over? Would love to help bring this feature to the finish line if I can help in any way.

[2019-01-21 23:37] tomx4096 commented on #527
thanks :) it worked fine when I tested it on the Baltimore data, but that was quite some time ago. performance could be much better (it takes more than a few seconds to load the visualization) but I'm not sure how to improve it.

[2019-01-22 05:44] sibrahi5 commented on #615
Since we added more documentation for actual S3 bucket setup, I'm going to go ahead and close this issue.

[2019-01-22 05:44] #615 closed

[2019-01-25 21:19] #247 closed

[2019-01-25 21:51] dismantl commented on #525
Fixed by #524. The bulk upload command also updates existing officers.

[2019-01-25 21:51] #525 closed

[2019-01-27 20:16] tturn02 opened #625 "AWS Environment Setup Instructions need updating"
Currently the instructions don't list the key for the "AWS_Default_Region", also the ".env" file needs to be linked to the root as well as the inner OpenOversight folder

[2019-01-29 08:39] sibrahi5 commented on #527
Hey @ejfox for right now, we mostly would like to add some indication to the user that the data is being loaded(some intermediary screen to let the user know that data is being loaded so they aren't kept wondering), and to fix the merge conflicts. If these could be resolved, I think we should approve the PR & worry about performance in another issue/PR

[2019-01-29 16:38] sibrahi5 commented on #571
Could use logos from: https://github.com/lucyparsons/OpenOversight/issues/253

[2019-01-29 19:55] sibrahi5 commented on #491
This was fixed with #545 but never closed. Closing!

[2019-01-29 19:55] #491 closed

[2019-01-29 22:48] camfassett opened #626 "Feedback for users upon adding info to officers/submitting photos"
1. When a user matches a photo with an officer that did not have an associated photo previously, they should get a little message like: Thank you! You've added the first photo to officer X's profile!
2. Upon adding an incident, should get a similar message: Thanks for adding the first incident to X's profile. This information is critical to the public. (or something)

Feedback like this for contri

[2019-02-03 05:22] r4v5 opened #627 "Migrations in staging/prod seem broken"
[code]
Wherever it's looking for a `migrations` path to be, it's not finding it. (the migrations exist at  `openoversight/OpenOversight/migrations`)

[2019-02-03 17:21] dismantl commented on #627
By default `flask db` looks for the `migrations` directory relative to the working directory. So when it's run outside of the OpenOversight subdirectory, you need to specify the migrations path:
`FLASK_APP=OpenOversight.app flask db upgrade -d OpenOversight/migrations`

[2019-02-03 21:01] r4v5 commented on #627
Ah, alright. It seems to be ignoring the cwd. Adding the -d path worked, but it's now erroring out about the constraint that was in #612 already existing:
[code]

[2019-02-03 21:13] dismantl commented on #627
Crap yeah I'm getting that in a dev environment too. Looks like the `fk_face_image_id` lines in the migration script were a mistake. I'll make a PR to remove that.

[2019-02-03 21:15] r4v5 commented on #627
Can you also add the path to migrations you referenced?

[2019-02-03 22:39] #627 closed

[2019-02-05 04:37] abandoned-prototype commented on #380
So I looked into this and it turns out that the javascript we use (cropper.js) already supports rotating, so from front-end we only need to change the template a little bit (adding a button the user has to click basically).

I took a quick lock what happens on the back-end, but not familiar with it yet.
But basically we have two options I think:
First one is to replace the original image by a corr

[2019-02-09 19:47] #558 closed

[2019-02-09 20:01] redshiftzero commented on #610
closed by #612

[2019-02-09 20:01] #610 closed

[2019-02-09 20:01] redshiftzero commented on #611
closed by #612

[2019-02-09 20:02] redshiftzero commented on #559
closed by #624

[2019-02-09 20:02] #559 closed

[2019-02-09 20:02] redshiftzero commented on #575
closed by #624

[2019-02-09 20:02] #575 closed

[2019-02-09 22:09] #580 closed

[2019-02-11 20:09] abandoned-prototype commented on #380
There is an old branch https://github.com/lucyparsons/OpenOversight/tree/370-rotate-photos and it seems the goal was to fix this issue. Not sure if the author @raq929 is still around, but I am curious what happened with it/why this wasn't merged back then.

[2019-02-12 21:33] raq929 commented on #380
Hi! I'm still kind of around! I moved to western MA and my internet is terrible such that working with photos is really hard. But, as far as I know this branch was in pretty good shape - probably needs some styles. Feel free to take it over and rebase it on master and see how it goes.

It looks like I decided on the latter of your two options, although honestly I can't remember why. My memory is t

[2019-02-12 22:15] abandoned-prototype commented on #380
Thanks for your reply! I am happy to take over and will let you know if I have any questions.

[2019-02-14 17:20] dismantl opened #633 "Look up officers by unique internal identifier"
For departments that use unique internal identifiers (e.g. "sequence numbers" in Baltimore PD), it would be nice to be able to look up officers based on that identifier. I would imagine this could just be an added field on Step 2 of the Find an Officer form.

[2019-02-16 16:17] camfassett commented on #583
Hey @sibrahi5 to clarify am I assigned here just to delete the duplicate, or is the ask to work on automation?

[2019-02-16 16:23] camfassett commented on #584
So, I fixed Brendan Tinney's profile, but I get an internal server error when I try to update Karla Rush's.
![screenshot from 2019-02-16 11-22-12](https://user-images.githubusercontent.com/20425838/52902331-3f3ce680-31dd-11e9-9078-f79f7d30be5a.png)

[2019-02-18 18:50] McEileen commented on #604
I'd appreciate some feedback on how to display this on individual officers' pages.  My instinct is that we should only display the "last employment date field" if the officer is not currently employed.  I also think we should only display the "explanation/additional details" field if it isn't blank.  Thoughts?

[2019-02-26 14:58] McEileen commented on #589
@camfassett I'm going to work on this now because I think it ties into what I did in PR #636. I still think that we should only display "last employment date" and "last employment details/explanation" (I'm not particularly invested in what we call that field) if the fields are not null.  Your thoughts?

[2019-02-26 17:07] McEileen commented on #589
Also, what years do we want displayed as options for the year selector?  I'm thinking 2016 - 2019, since the project started in 2016.

[2019-02-26 17:12] camfassett commented on #589
Thanks @McEileen! That sounds good to me. I think "last employment details" for the latter field works. And yes, agreed re: those year selectors! This is perfect :)

[2019-03-04 21:11] McEileen opened #638 "Documentation about pdb"
I will add documentation about how to run the app with pdb and how to run a single test with pdb.

[2019-03-11 00:18] dismantl commented on #570
This appears to be fixed.

[2019-03-11 00:18] #570 closed

[2019-03-12 19:57] McEileen opened #641 "Refactor `test_utils.py` for dryness"
In `test_utils.py`, several tests repeat this line of code
`department = OpenOversight.app.models.Department.query.first()`
refactor for dryness.

[2019-03-14 14:25] McEileen commented on #633
Hi @dismantl, I can submit a PR for this in the next week.  I'll ping you with any questions.

[2019-03-15 16:00] McEileen commented on #625
Hi @tturn02, I checked and `CONTRIB.MD` now lists the key for `AWS_DEFAULT_REGION`, although it didn't previously.  I don't entirely understand the part about the `.env` file.... Could you please elaborate a little more about needs to be added to the documentation?  Thanks!

[2019-03-15 16:29] McEileen commented on #576
@sibrahi5 @camfassett I want to be clear on which users have the ability to deactivate apartments, and which users have the ability to remove departments.
I think area coordinators should have the ability to deactivate the department for which they are an AC.  I don't think an AC should be able to delete any departments.
I think admins should be able to deactivate and delete any department.
Sound

[2019-03-15 18:37] McEileen opened #644 "Add documentation about using a virtualenv when generating the migrations"
I will update documentation in `CONTRIB.MD` to include instructions about using a virtualenv for generating migrations.

[2019-03-16 03:20] dismantl commented on #611
#612 failed to resolve this, so reopening.

[2019-03-16 03:20] dismantl commented on #574
#612 failed to resolve this, so reopening.

[2019-03-17 22:05] dismantl opened #645 "Add multi-factor authentication for user accounts"
I don't have any implementation suggestions at the moment, but it would be nice if MFA was available for better user account security. I would guess TOTP would be the ideal protocol to support, unless there's a good python library available for hardware tokens. I would not recommend SMS-based MFA, given the increasing prevalence of SIM hijacking and the like.

[2019-03-18 14:28] McEileen commented on #576
NOTE: @sibrahi5 responded to my question in slack and confirmed that the permissions I described are correct.

[2019-03-18 14:32] McEileen commented on #576
(I was originally going to create a new issue and link it, but I thought it would be clearer if I continued the conversation in this issue.)

After poking around the codebase, I decided to create a departments API, similar to the existing users API.  I will also create a departments dashboard, which only admins can access, that will be similar to the existing users dashboard.  I think this is the

[2019-03-18 15:30] McEileen opened #647 "Refactor routes to use plural instead of singular form of resources"
Some, but not all, of our routes use the singular form of resources instead of the plural form.  For example, the `toggle_user` route at `user/toggle/<int:uid>`, the `add_department` route at `department/new` and the `add_officer` route at `officer/new` all use singular.  Starting with the creation of the departments API, I will refactor all of these routes to use the plural form of the resource.

[2019-03-20 20:23] McEileen opened #649 "Possibly invalid test account credentials in the README?"
When I attempt to log in on localhost with the test account credentials in the README, `test@example.org` and `testtest`, I can't log in.  When I run `SELECT * FROM users;` in psql after running `make start` and `make dev`, I also don't see any user with the email `test@example.org`.

Are these old credentials that no longer work with the current mockdata?  If so, I can remove this section of the

[2019-03-26 21:11] McEileen commented on #625
@b-meson I'm reaching out since you had labeled this as `docs` and a `good first issue`.  Is this issue still relevant, or should we close it?  `CONTRIB.MD` now lists the key for `AWS_DEFAULT_REGION`.  I don't understand the part about needing to link the `.env` file to the root and the inner OpenOversight folder.

[2019-03-31 16:33] ejfox opened #654 "Add ability to look up officer from photo"
Using the same technologies that law enforcement and private corporations use to track citizens, I think it would be useful to use the OpenOversight database to train a TensorFlow model which can then be used to perform lookups.

The ideal user story would be:
+ Jane has an interaction with a police officer who fails to identify themselves
+ Jane takes a photo, or finds a photo of her talking to t

[2019-03-31 19:55] McEileen commented on #654
As noted by the [about section of OpenOversight](https://www.openoversight.com/about), OpenOversight is compliant with [Illinois's Biometric Information Privacy Act](http://www.ilga.gov/legislation/ilcs/ilcs3.asp?ActID=3004&ChapterID=57) because the project does not perform facial recognition.  In order to remain compliant with BIPA, I would oppose incorporating facial recognition into OpenOversig

[2019-03-31 20:06] camfassett commented on #654
Hey @ejfox and @McEileen! Correct, we cannot perform racial recognition in the state of IL, but we've had discussions previously about doing this on a department by department basis.

I personally am in favor of this, and I think there are ways to hard code to prevent facial recognition performed by OO on IL police departments. Would you have further concerns, @McEileen?

There is currently an ope

[2019-03-31 20:24] ejfox commented on #654
@McEileen Really appreciate you taking the time to explain this, makes total sense to me.

@camfassett Sounds good, sorry I missed #8 - thanks!

[2019-03-31 20:24] #654 closed

[2019-03-31 20:26] ejfox commented on #8
I'm interested in potentially using https://github.com/justadudewhohacks/face-api.js

This would require running a model (and re-running it when officers are added) on the server side and then making that model available to the browser for search. I'd be interested in tackling this if there's enough interest.

[2019-04-05 16:58] dismantl opened #655 "Multiple assignments per officer breaks browse paging"
I stumbled on a bizarre bug where having officers with more than one assignment can potentially break the paging on the browse view of a department. Here's how to recreate it from a populated development environment:

1. Add a new officer with the name "Foo Bar" and an arbitrary rank. Alphabetically it will come first among the test data officers, and so be listed first in the department browse vi

[2019-04-09 19:12] McEileen commented on #8
Hi @ejfox, I'm carrying over the conversation we had in #654.
To @camfassett's question, as long as we can ensure that we don't do facial recognition on IL officers, I am fine with incorporating it into OO.  Earlier, @redshiftzero proposed adding a field in the `Departments` table to indicate what departments have facial recognition turned on, and I think that could work well.  I'm retracting my e

[2019-04-13 19:59] #644 closed

[2019-04-14 18:10] #471 closed

[2019-04-14 18:18] redshiftzero opened #656 "Add live reload for frontend development"
Followup to #490

When SCSS is changed in the dev env, the CSS is regenerated. However to see the changes it does require the frontend developer to refresh their web browser. A nice improvement would be to enable live reload in the development environment.

[2019-04-14 23:23] #334 closed

[2019-04-14 23:44] #649 closed

[2019-04-15 00:20] #638 closed

[2019-04-15 03:49] r4v5 opened #658 "build & ship assets as part of deployment"
[code]
The current deployment process assumes the remote web servers have docker-compose installed to allow them to build the web assets.
I'd love to have them build locally as part of the deployment, and be scp'd up, since that saves us from running a dockerd or installing yarn/etc on the servers.

While we're doing this, we should probably rewrite the fabfile to be fabric 2-compatible, since fab

[2019-04-25 20:57] ejfox commented on #8
@McEileen That sounds good! Would love to pair on this further with anyone who is located in NYC. I'm free to meet anywhere between Midtown and Bushwick.

I did a little more exploration / research and below are my notes on potential next steps / ways to pursue this
---

## Goal
+ Jane has an interaction with a police officer who fails to identify themselves
+ Jane takes a photo, or finds a photo

[2019-04-26 19:15] ssempervirens opened #661 "Editing incident and adding additional information wipes city/state field"
When editing an existing incident to add additional info such as a link, the city/state fields are wiped and the user must manually re-add those each time. Also, the placement of the "must fill out field" note could be placed better, but that's less critical
<img width="621" alt="Screen Shot 2019-04-26 at 15 12 32" src="https://user-images.githubusercontent.com/20425838/56831020-0604a080-6836-11e9

[2019-04-29 23:32] McEileen commented on #645
I read through [this blog about 2FA authentication with Python/Flask](https://blog.miguelgrinberg.com/post/two-factor-authentication-with-flask) and I'm thinking about taking a similar approach.  Sound good?  I also found [this tutorial from Twilio](https://www.twilio.com/docs/authy/tutorials/two-factor-authentication-python-flask), if you want a second option for compare/contrast.
Also, the blog

[2019-04-30 05:22] redshiftzero commented on #500
Closed by #662

[2019-04-30 05:22] #500 closed

[2019-04-30 05:22] redshiftzero commented on #655
Closed by #662

[2019-04-30 05:22] #655 closed

[2019-04-30 05:26] redshiftzero opened #664 "Release OpenOversight 0.6"
This is a tracking ticket for visibility of the things we need to be aware of for the next deployment of OpenOversight to openoversight.com:

# For pre-release testing on staging

- [x] Test/QA deployment process for static assets (#658) - done, automated as part of new CD pipeline
- [ ] Manually add ranks to departments (`RANK_CHOICES` is no longer hardcoded and is customized per-department)
- [

[2019-04-30 05:52] redshiftzero commented on #645
for SecureDrop's journalist interface (a Flask webapp) we support both HOTP (I agree with @dismantl that I don't think we need to support HOTP for OpenOversight) and TOTP using the [`pyotp`](https://pyotp.readthedocs.io/en/latest/) library, so we can steal some of that code: relevant class is here: https://github.com/freedomofpress/securedrop/blob/develop/securedrop/models.py#L326

I'm with you on

[2019-05-05 20:23] dismantl opened #667 "Cannot leave time field blank for incidents"
Since the `date` column in `incidents` is a timestamp data type, we are unable to leave the time for an incident blank (it will default to 00:00:00–midnight). We should be able to distinguish between an incident that occurred at midnight versus one that doesn't have time data.

[2019-05-05 20:24] dismantl opened #668 "New incidents lack creator_id and last_updated_id"
When new incidents are created via the New Incident form, the `creator_id` and `last_updated_id` fields do not get set. They only get set once the incident is edited via the Edit Incident form.

[2019-05-05 20:33] dismantl opened #669 "Editing incidents drops location information"
How to reproduce:
1. Go to the New Incident form.
1. Set the city and state, but do not put anything in the street name field. Submit the incident.
1. Edit the incident you just created by modifying the date, and save it.
1. The location information for the incident is now gone.

[2019-05-06 19:44] #633 closed

[2019-05-07 03:09] r4v5 commented on #658
Decoupling this from fabric2 because fabric2 is going to be a lot more work than I thought it was, and I haven't actually found any live examples of fab2 doing what we need it to.
Big thing is going to be to run the make tasks on the developer machine and then copy over the artifacts after git pull is run.

[2019-06-01 18:34] redshiftzero opened #675 "replace create_db.py with alembic upgrade head"
This removes an unnecessary script and will help us catch issues with alembic migrations

[2019-06-01 18:39] redshiftzero opened #676 "failed staging deploy due to broken migrations"
When I tried to deploy latest `develop` to staging just now (as part of testing #672):

[code]

Migration `8ce3de7679c2` drops the `uii` column added in `bde5faf0270c`. But taking a step back, it looks like in #643 we added and then remove the `uii` field in two migrations (I think this happened as the `uii` field was renamed to `unique_internal_identifier_label ` but the migrations weren't update

[2019-06-01 19:23] redshiftzero opened #678 "Incorporate USA Today collection of banned officers"
Some of these cops are may be in the departments we monitor:

https://www.usatoday.com/in-depth/news/investigations/2019/04/24/biggest-collection-police-accountability-records-ever-assembled/2299127002/

[2019-06-02 03:43] #658 closed

[2019-06-02 14:56] #676 closed

[2019-06-27 23:51] ereynolds123 commented on #510
Hey, I just barely started coding, but I would be willing to manually enter data and learn to code as I go?

[2019-07-05 15:41] McEileen opened #679 "Need to update Pillow version in requirements.txt"
As I discussed in slack with @b-meson, `requirements.txt` currently holds the requirement `Pillow==5.1.0`.  However, Python 3.7 requires a `Pillow` version of at least `5.2`. https://pillow.readthedocs.io/en/latest/installation.html  I'll change this in a petite PR.

[2019-07-10 20:08] McEileen commented on #388
Hey, if no one objects, I'm going to close this in the next day since we now support Python3.

[2019-07-16 16:30] McEileen commented on #388
I'm closing this issue because we now support Python3.

[2019-07-16 16:30] #388 closed

[2019-07-30 01:19] McEileen opened #683 "PNG of database relationships is out of date"
The database schema is out of date, for example, the `department` model doesn't include the field `unique_internal_identifier_label`.

[2019-07-31 19:29] ssempervirens commented on #583
Hey @McEileen do you still think writing this query makes sense? If no details have changed since this previous convo, I can take this on

[2019-07-31 20:11] McEileen commented on #583
@ssempervirens Yes, we still need someone to work on this, thanks for checking in about it.  I think the previously outlined plan, where you write a query to catch suspected duplicates, then manually confirm they're duplicates before deleting them, makes sense.

[2019-08-01 00:41] ssempervirens opened #684 "Add AC review step for officer face tagging"
As per discussion, adding an extra step in which an area coordinator or admin can manually review faces that users have associated with officer profiles could help with the data validation process. I think that would just look like showing the AC the face, the name of the user that did the work, and the officer name/profile would be sufficient?

I think this could be an optional feature per depart

[2019-08-09 20:31] McEileen commented on #8
I am currently working on integrating AWS Rekognition's label detection feature into OpenOversight.  I am writing this summary of my approach to make my work visible to other OpenOversight contributors, and also get feedback on my approach.  Thoughts are appreciated!

### Goal
* In order to reduce the amount of work volunteers need to do, automate the step where volunteers classify a photo as cont

[2019-08-24 04:01] #118 closed

[2019-08-24 06:43] #581 closed

[2019-08-26 06:09] brucearctor commented on #8
@McEileen ; not familiar with rq -- what you are proposing as a workflow sounds like a common pattern.  S3 event triggers SQS to then run Rekognition.  A given AWS Account gets 1 million SQS calls, so potentially costs nothing if not hitting that volume across applications - and very inexpensive afterwards.  Rekognition is also pay-per-use ("server less"), rather than an always on, so about as rea

[2019-08-31 17:15] McEileen commented on #683
I thought the schema represented the relationships established in the `develop` branch.  I think what you're saying is that it actually represents the relationships in `master`, which means I was mistaken in saying that the schema was out of date.

[2019-08-31 17:41] McEileen commented on #572
@dismantl Since #662 was merged, which contained the changes from #619, can we close this issue?

[2019-09-01 19:37] redshiftzero commented on #572
good flag @McEileen, closing!

[2019-09-01 19:37] #572 closed

[2019-09-02 01:47] redshiftzero commented on #683
After offline discussion, the problem @McEileen is raising here is that https://github.com/lucyparsons/OpenOversight/blob/develop/database/relationships.real.large.png is out of date

[2019-09-02 17:24] redshiftzero opened #690 "Add officer collections that include officers not associated with one of our tracked departments"
We have some officer-based datasets at LPL that would be nice to present through OpenOversight. These datasets may include officers in departments that we track but they may also include officers that are not in tracked departments.

Here's one way we could do this:

* We add an officer collection object, accessible at e.g. `openoversight.com/collections/<slug>` which takes the not-logged in user

[2019-09-02 18:40] #667 closed

[2019-09-02 18:40] redshiftzero commented on #668
Closed by #670

[2019-09-02 18:40] #668 closed

[2019-09-02 18:40] redshiftzero commented on #669
Closed by #670

[2019-09-02 18:40] #669 closed

[2019-11-05 23:26] #679 closed

[2019-11-30 03:24] abandoned-prototype commented on #510
Just wanted to update that I am finally back actually working on this. Main focus right now is to get the OCRing of the pdf right, but between tesseract and some image transformations I am getting reasonable results. I also plan to cross-reference the .csv file that buzzfeed provided that seems to be manually extracted and contains the key information to each case (name and tax registry number to

[2019-12-20 21:43] loadstar81 opened #694 ""make dev" fails when calling test_data.py"
It looks like this went from a deprecation warning to a hard error when pytest was upgraded from 4.0.2 --> 5.2.2 [e1393a2e](https://github.com/lucyparsons/OpenOversight/commit/e1393a2e413fc7dc4410e6a6102c2ef53750164f#diff-913fedaed3cb05fe362c0ceb35e2d827)
pytest issue in 4.1.0 enforcing this behavior: [#4545](https://github.com/pytest-dev/pytest/issues/4545)
[code]
A current workaround is to rever

[2019-12-22 03:02] abandoned-prototype commented on #694
Thanks for bringing this up @loadstar81. I just ran into that issue too and wasn't sure if this is something locally I messed up, or broken for everyone. Reverting to 4.0.2 works for me

[2020-01-09 05:16] abandoned-prototype commented on #510
I might have put a little more time into this than I should have, but I finally have a csv file that contains the data of 517 of the 540 pages ([output.txt](https://github.com/lucyparsons/OpenOversight/files/4038687/output.txt)) (.txt for github)
There are certainly many small and probably some bigger errors, but one thing I made sure was to cross-reference the provided csv (http://data.buzzfeed.c

[2020-01-19 02:09] abandoned-prototype opened #696 "bulk-add-officers command - problems"
Working with the bulk-add-officers command I ran into two issues so far.

* When `job_title` isn't provided, no `assignment` is created in the database for that officer, which leads to a problem with the officer listing in `/department/<id>`. The template assumes that there is at least one assignment for each officer. Current workaround is to always provide `job_title` in the csv, and use `"Not Su

[2020-01-21 20:56] ssempervirens commented on #694
Hi, I reverted pytest to 4.0.2, but `make dev` is still failing for me. Specifically, I am getting:
[code]

[2020-01-26 23:02] #371 closed

[2020-01-26 23:22] McEileen opened #697 "Find Officer Form's fields are off-center when the browser is at half-screen"
When the browser is full-screen, the form fields are centered in the form.
![OfficerFormCentered-resized](https://user-images.githubusercontent.com/5529982/73143496-a5c2b980-4068-11ea-9d00-e5d40566f4ca.png)

When the browser is set to half-screen, the form fields are off-center.

![FindOfficerFormOffcentered2-resized](https://user-images.githubusercontent.com/5529982/73143473-57adb600-4068-11ea-80

[2020-02-01 16:04] b-meson opened #698 "Update LE's client?"
We got the following email and I'm not sure how it works alongside with our Chef infra.

[code]

[2020-02-20 23:59] brianmwaters opened #699 "Issues due to new werkzeug version"
Werkzeug recently released version 1.0.0. When running `make create_db`, the following error is thrown:
[code]

I've noticed similar issues with other Flask-based projects in recent weeks. The solution is either to pin to a version of werkzeug less than 1.0.0 (quick fix), or to look into what's actually changed in werkzeug and update our code (long-term fix).

[2020-02-21 00:24] redshiftzero commented on #699
Looks like this issue is due to flask_wtf which updated this import in https://github.com/lepture/flask-wtf/pull/378, updating to Flask-WTF 0.14.3 should resolve (though there might be issues in other dependencies due to the changes in Werkzeug 1.0.0)

[2020-02-21 00:35] brianmwaters commented on #699
Downgrading to werkzeug<1.0.0 (which in effect, today, gets us to werkzeug 0.16.1), also fixes it. However upgrading to the latest flask-wtf is definitely a better solution, if that works for me, I will submit a PR momentarily.

[2020-02-21 01:24] brianmwaters opened #701 "`make populate` is broken"
I'm getting this error on `make populate`:

[code]

Pull request coming in a few minutes.

[2020-03-01 04:02] #699 closed

[2020-03-01 04:34] #701 closed

[2020-03-01 04:35] redshiftzero commented on #694
fixed in #702

[2020-03-01 04:35] #694 closed

[2020-03-28 20:36] McEileen opened #704 "The page to add/edit department ranks throws a 500 on staging"
The page to add or edit department ranks currently throws a 500 on staging.  Here's the error message from logs:
[code]

The error occurs because [this line ](https://github.com/lucyparsons/OpenOversight/blob/develop/OpenOversight/app/templates/add_edit_department.html#L28) in the template attempts to sort the different jobs by order.  However, none of the jobs in the staging database, as of March

[2020-05-26 02:02] #704 closed

[2020-05-31 21:31] rbavery commented on #8
Hi all, I started looking for a project like this after seeing reports in Sacramento and elsewhere that police officers weren't wearing name tags and badge numbers to be identified. I want to help out with this feature if help is wanted. I've used AWS and Azure to manage computer vision/deep learning research projects using python, so I have some background in the infrastructure discussed as well

[2020-06-01 02:34] McEileen commented on #8
Hi @rbavery, thanks for reaching out!  I had worked on this previously, then I paused in order to focus on deployment.  If you want, I can share my work, and we can collaborate?
Please let me know if you have any questions about the project or about Lucy Parsons Labs.

[2020-06-01 04:38] rbavery commented on #8
Thanks for the info and availability to answer questions. That'd be great! My email is ravery@ucsb.edu for sharing previous work. As I understand it, the goals are the same as you identified earlier in the issue.

I saw this issue: https://github.com/lucyparsons/OpenOversight/issues/654
I think the use case @ejfox raises is compelling and valuable but that you also raise really valid concerns abou

[2020-06-02 03:36] McEileen commented on #8
Thanks for taking the time to read through past issues and PRs related to this work.

I created a [draft PR](https://github.com/lucyparsons/OpenOversight/pull/707) that shows work I did in 2019 for integrating both object detection and facial recognition into the project.  In response to the concern about determining which departments allow facial recognition, I added a boolean field to the `Depar

[2020-06-03 01:27] rbavery commented on #8
Got it thanks for getting the previous PR up. Good to hear that a Python-Flask approach is welcome, I've used this approach before for segmenting agriculture fields in satellite images: https://github.com/ecohydro/CropMask_RCNN/tree/master/app
We might be able to use this as a template. I'm not familiar with Rekognition, but it sounds like it would replace a python-flask approach. From the wiki

U

[2020-06-05 01:24] redshiftzero commented on #26
(note I think their API has changed significantly since I last looked so this is worth another investigation)

[2020-06-05 03:09] McEileen opened #708 "Bug: Deleting a rank through the department /edit page doesn't persist"
I found this bug while doing testing before releasing to prod for #664.  If a user deletes a rank on the department `edit` page, the change doesn't persist.  The relevant code is linked [here](https://github.com/lucyparsons/OpenOversight/blob/develop/OpenOversight/app/main/views.py#L408).

[2020-06-05 07:15] brianmwaters opened #709 "Bug: cannot upload JPEG files ending in .jpe"
This one is simple. If a user attempts to upload a valid JPEG file which has the extension .jpe to the "Submit images" page (https://staging.openoversight.lucyparsonslabs.com/submit), they will get an error indicating that the file type is not allowed.

This is relevant because there is a popular social media site which hosts JPEG files ending in ".jpe" (for some reason). I can't recall which site

[2020-06-05 13:23] brianmwaters opened #711 "Search doesn't include results with null fields"
In the testing instance for Vermont, we have one department that never gave us demographics data. So age, race, and gender are null for all the cops in this department. If a user tries to make a search that is keyed on one of these fields, they will get zero results. (For example, if they try to search for all female cops in one of these departments). This is a problem because it could cause users

[2020-06-05 14:13] r4v5 commented on #708
https://github.com/lucyparsons/OpenOversight/blob/develop/OpenOversight/app/main/views.py#L432 do we need to commit() the db session after the query is execute()d here?

[2020-06-05 14:17] rajivsinclair commented on #66
hey hey! We recently received data from CPD for all officers’ badge numbers over time. Haven’t fully reviewed and processed it yet, but I wanted to share it with y’all in case you’re working on an update for OpenOversight: [InvisibleInstitute_DataInfoforallswornCPDofficers-UPDATEv2.xlsx](https://www.dropbox.com/s/tbyb7vl3yhtute5/14532-P540798-InvisibleInstitute_DataInfoforallswornCPDofficers-UPDAT

[2020-06-05 19:14] ebaxter opened #712 "Display "No Results Found" more prominently"
When a search returns no results, the "No Results Found" message appears in the top left corner and is easy to miss.  The eyes are drawn instead to the full list of officers which is displayed in the center of the screen.  For a careless newb (like myself) it makes it appear as if the search didn't work.  It might be helpful to display "No Results Found" more prominently, or to not show the full l

[2020-06-05 19:18] redshiftzero commented on #712
thanks for filing, yeah this should be clearer - marking this as good first issue

[2020-06-06 15:04] redshiftzero commented on #711
(I think this was the behavior previously, so we should write a regression test when this is fixed)

[2020-06-06 15:05] #709 closed

[2020-06-06 20:30] redshiftzero opened #713 "permission denied in dev env when creating assets"
Someone reported this to me privately, and I vaguely recall someone else ran into this months ago, please comment if you remember the resolution.

The person was running Debian, ran `make dev` and the dev env started without the CSS styles loaded. Rerunning `make assets` resulted in this permissions error:

[code]

[2020-06-06 20:56] redshiftzero commented on #712
turns out this is fixed in `develop`, just not deployed yet, closing

[2020-06-06 20:56] #712 closed

[2020-06-06 21:00] brianmwaters commented on #713
The workaround hack I use at the moment is

`mkdir OpenOversight/app/static/dist/
chown 33 OpenOversight/app/static/dist/`

`make assets` and `make cleanassets` then work as expected.

There is a similar issue with the `container_data` folder created by postgres.

Maybe there is some way to fix this with user namespaces or something. I am not a docker expert by any means.

[2020-06-07 05:26] brianmwaters commented on #713
I get a lot of errors with `make test`:

[test.log](https://github.com/lucyparsons/OpenOversight/files/4741421/test.log)

[2020-06-07 17:06] McEileen commented on #708
Hey, I unassigned myself because computer difficulties prevent me from contributing to OpenOversight right now.  I'm working on getting that fixed ASAP.  If this is still open when I have my computer working again, then I'll reassign myself.  Until then, other people are also welcome to work on this bug.

[2020-06-08 04:12] redshiftzero opened #715 "documentation: describe what is needed to add another department"
A very common question we are getting is: "How can I add my city to openoversight?".

Basically the main requirements are:

1. Get roster - see pending docs in https://github.com/lucyparsons/OpenOversight/pull/695 for specific fields. One doesn't need all of these, but the more the merrier.
2. Have folks who are willing to act as an area coordinator.
3. Have some volunteers who can upload photos.

[2020-06-08 04:15] redshiftzero opened #716 "documentation: area coordinator capabilities"
We have a non-admin role on the web application that can:

1. Add or remove officers.
2. Add notes to officer profiles.
3. Add incidents, links, or videos to officer profiles.
4. Add new ranks for officers.
5. Maybe other stuff that I'm forgetting 🙃

The implementor of this ticket should go through the webapp, enumerate any other capabilities of the area coordinator, and write a page of documentat

[2020-06-08 04:19] redshiftzero opened #717 "documentation: volunteer tutorial"
We have a volunteer role on the web application that can:

1. Photo classification - sort through photos into containing cops and not containing cops.
2. Photo identification - identify officers in the photos.

The implementor of this ticket should write a page of documentation targeted at new volunteers explaining how to get started. I wrote a tutorial a long time ago that is here: https://openov

[2020-06-08 04:20] redshiftzero commented on #485
Docs are now setup on readthedocs, they are deployed on merge. We now need to add pages of documentation for the most common questions, see: #717 #716 #715

[2020-06-08 04:20] #485 closed

[2020-06-08 04:25] redshiftzero commented on #715
@brianmwaters is going to take a look at this one

[2020-06-08 04:46] redshiftzero opened #718 "bulk upload: enable AC to perform bulk upload via the webapp"
Right now we enable administrators to, at the command line, upload officers in bulk via a CSV import: https://github.com/lucyparsons/OpenOversight/blob/develop/OpenOversight/app/commands.py#L341

We should enable admins and area coordinators of a given department (but only the department they are area coordinator of) to upload a CSV via the web application.

[2020-06-08 04:59] redshiftzero opened #719 "disable departments"
Enable an admin ~or area coordinator~ (gonna make this admin only for now) to disable (or enable) a department such that it doesn't (or does) appear here:

https://openoversight.com/browse

The department's incidents and officers should not appear unless you are an admin or area coordinator.

The idea here is that area coordinators can stage their department collections and work on them prior to p

[2020-06-08 06:54] peculater commented on #713
Good catch.  Turns out selenium+xvfb+firefox also needed some negotiating in order to run comfortably as a non-root user.  I've pushed a commit to #714 that lets me run `make test` without errors.

[2020-06-08 07:01] brianmwaters commented on #713
I realize now that I commented on the issue, and not the pull request. I will test your fix in a sec here.

[2020-06-08 19:28] todrobbins commented on #715
I'd be happy to help @brianmwaters with this as I'm about to begin adding Salt Lake City PD and will be going through the process fresh. 👍

[2020-06-08 22:18] brianmwaters commented on #715
@todrobbins I have made some changes to the bulk-add-officers feature here: https://github.com/lucyparsons/OpenOversight/pull/703. It's not fully documented or tested yet but you may find it helpful.

Also, @abandoned-prototype has written some documentation for the bulk-add-officers feature, available here: https://github.com/lucyparsons/OpenOversight/pull/695. Their documentation applies to the

[2020-06-08 23:53] todrobbins commented on #715
@brianmwaters thanks! Reading through `bulk_upload.rst` right now.

[2020-06-09 03:31] #713 closed

[2020-06-09 03:59] redshiftzero opened #721 "officer and incident collections"
Right now we have officers and incidents grouped by agency. However, it might be useful to have other groupings of officers and incidents not necessarily related to their agency, which we'll call Collections.

The idea here is that collections could be related to events or investigations we want to highlight.

The collection would have a name and a slug, e.g. such that we can send folks to:

openo

[2020-06-09 04:45] redshiftzero commented on #715
oh, also there's this in our README: https://github.com/lucyparsons/OpenOversight#what-data-do-i-need-to-set-up-openoversight-in-my-city which can be fleshed out

[2020-06-09 16:39] b-meson opened #722 "More explicit instructions on takedown notices"
In the event that we get emails about removing individual profiles, we direct people to email us but the instructions are not very clear. We should clarify the section in [Legal](https://openoversight.com/about) to include take down requests as well.

Do we also want to include that in the footer?

[2020-06-09 17:44] ssempervirens commented on #722
All that the legal section mentions right now specifically is BIPA. I think we should add a note that is something like, "Information about police officers such as names and badge numbers listed on this website are obtained through public records requests. As it is public information, Lucy Parsons Labs does not remove information about officers unless it is proven to be inaccurate. For more inform

[2020-06-09 17:49] redshiftzero commented on #722
that would be excellent!

[2020-06-09 23:26] redshiftzero opened #723 "accept photos that do NOT have names/badge numbers"
There are some law enforcement officers that are covering up their name and/or badge number when working protests and a lot of folks are taking photos of them. We should consider relaxing our photo submission to accept photos for any officer in uniform: even if their badge name or name is not exposed.

In that scenario the modified workflow could be:

1. Not logged in users submits a photo as befo

[2020-06-09 23:43] ssempervirens commented on #723
Just a clarification - if people submit photos of officers without badges/names and we don't already have a photo/s of the officer, and so the face can't be matched to an existing photo, we just store the photos for the future, correct?

Also, a big problem is that many officers in recent photos are wearing masks, so matching them to faces seems like it could be tricky.

[2020-06-10 00:17] redshiftzero commented on #723
Yep exactly.

Hmm good point re: masks. We should research how reliable human face recognition is with faces covered by surgical masks - I _suspect_ there are enough facial characteristics to still produce good identifications, but more research needed.

[2020-06-10 02:01] brianmwaters commented on #723
I like everything that's being suggested here, and I think we can do one better too. I think the unstated assumption we might be making is that we can't identify cops who don't have a name or badge number in the photo. This isn't the case in Vermont. We have extensive on-the-ground experience with the BPD, and can identify most of them by face. And we have identified a large number of cops in othe

[2020-06-10 02:03] brianmwaters commented on #723
Or - I guess I should ask - is this something we've had problems with in the past?

[2020-06-10 03:01] redshiftzero commented on #723
yeah good point - that's something that Berkeley copwatch folks told us too - they know all the cops by face. I'm thinking that it might make sense to have a lot of area coordinators for cities like Berkeley and BTV (this is something we can document for those cities) so y'all can just add photos/data as you see fit. We do track which user account associated picture X with officer profile Y so tha

[2020-06-10 20:23] redshiftzero opened #724 "rename master branch to main branch"
In our next prod deploy let's rename `master` branch to `main` branch. We'll need to:
- check out `main` once created on the prod openoversight.com server
- modify our circle ci configuration to run the production deploy job only when on the `main` branch

[2020-06-10 22:01] ebaxter opened #725 "clarify "skip" and "done with this image!" button functionality"
This difference between the "Skip" and "Done with this image!" buttons is confusing.  It would be helpful to have explanatory text near to these buttons, as well as some explanation in the tutorial.  In particular, it wasn't clear that if there is *no* identifiable information in the picture, one should click "Done with this image!"

Some suggested text:

Skip: Click this if you think there might

[2020-06-11 02:47] McEileen commented on #708
@r4v5 It was a different issue.  I fixed it and I'm going to submit a PR now.

[2020-06-12 19:51] #725 closed

[2020-06-13 01:58] #723 closed

[2020-06-13 02:04] redshiftzero opened #730 "code coverage reports are broken"
needs investigation: coveralls is showing 0% coverage

[2020-06-13 04:00] redshiftzero commented on #724
master branch is deleted. main branch has the previous branch protection settings of master, and #732 has the only other followups I can think of right now.

[2020-06-14 18:49] #724 closed

[2020-06-15 18:14] redshiftzero opened #733 "create unit view of officers"
We have a way to [create units via the web UI](https://github.com/lucyparsons/OpenOversight/blob/develop/OpenOversight/app/main/views.py#L571-L587), but not an easy way to - for a given unit - see which cops are assigned to it, along with [any other information stored about the unit](https://github.com/lucyparsons/OpenOversight/blob/develop/OpenOversight/app/models.py#L189-L198).

This should be v

[2020-06-15 18:47] redshiftzero opened #734 "bulk upload: units"
Allow bulk unit creation via the CLI. CSV has fields `unit_name, department_id`.

Import should print `unit_id` (primary key when created), `unit_name`, `department_id` of successfully imported fields to stdout.

This should go in: https://github.com/lucyparsons/OpenOversight/blob/develop/OpenOversight/app/commands.py

[2020-06-15 19:26] brianmwaters commented on #734
I have (a) solution for this in https://github.com/lucyparsons/OpenOversight/pull/703. I have some time tonight and will try to get those unit tests written.

[2020-06-16 01:23] brianmwaters commented on #734
Actually, I misspoke. What I have is a scriptable way to add new _departments_, and to add new ranks to departments. Not anything to do with units.

[2020-06-17 13:34] redshiftzero opened #736 "add lint target"
* `make lint` should invoke our flake8 checks
* We should document its use it in this repo for developers
* We should run `make lint` in ci instead of directly invoking flake8: https://github.com/lucyparsons/OpenOversight/blob/develop/.travis.yml#L24

[2020-06-17 13:36] redshiftzero opened #737 "add type annotations"
Once #736 is done, we should
* Add mypy to the dev dependencies
* Run mypy as part of the lint target to enable gradual typing
* Start adding [PEP 484](https://www.python.org/dev/peps/pep-0484/) style type annotations

This is a good way for folks to get familiar with the codebase

[2020-06-18 13:56] redshiftzero opened #740 "backups are way too big"
Our backup strategy at this point involves fetching gigabytes of data. We should do at least one of the following:

1. Emit progress output to prevent backups running in circle from failing due to no build output (if there isn't output in a 10 minute window, the job will fail)
2. Prune trash images to reduce backup size: #205
3. Incremental backups
4. Something else?

[2020-06-19 23:00] juholgado commented on #711
Hi all, looking at the form for adding officers https://github.com/lucyparsons/OpenOversight/blob/bd2e4d522438813276de4bb26065837b8fe33045/OpenOversight/app/main/forms.py#L182 it looks like the default value for Strings such as `first_name`, `middle_initial`, `suffix`, etc. is the empty string. Is that how they are saved when the officer object is inserted into the database if left blank?

When I

[2020-06-20 00:26] EMCain commented on #711
(I'm collaborating on this issue with jholgado)

I am looking very specifically at the gender filter code (as a starting point) and I'm confused by the functionality that already exists.

https://github.com/lucyparsons/OpenOversight/blob/develop/OpenOversight/app/utils.py#L277

[code]
Shouldn't marking the gender as "not sure" mean that all genders are shown? If someone checks both "female" and "n

[2020-06-20 02:33] redshiftzero commented on #711
Nice finds y'all, thanks for working on this!

If the form is inserting empty strings in the database instead of None/null when we don't have a field, that's a bug. I think doing the following would make sense:
1. Ensure forms insert None when the field is absent.
2. Migrate any existing values in the officers table that contain '' for these columns (`first_name`, and others that are nullable) to

[2020-06-20 02:43] redshiftzero commented on #326
Closed by #619

[2020-06-20 02:43] #326 closed

[2020-06-20 02:47] redshiftzero commented on #140
This is resolved

[2020-06-20 02:47] #140 closed

[2020-06-20 05:01] EMCain commented on #711
ok, great summary of the desired behavior, thanks.

I might remove the checkbox option for "not sure" on the filter page -- having multiple gender options available for search doesn't really make sense, either people know the officer was a specific gender or they don't, and "they don't" is really what "not sure" seems to indicate.

[2020-06-20 05:04] EMCain commented on #711
also @juholgado I can help you with the data migrations for getting rid of the empty-string values from the database, talk to me when you're ready to work on that.

[2020-06-20 20:48] abandoned-prototype opened #742 "Cache csv downloads"
In https://github.com/lucyparsons/OpenOversight/pull/735 @redshiftzero suggested to add caching to the csv downloads. Specifically to `download_dept_officers_csv`, `download_dept_assignments_csv` and `download_incidents_csv`.

Things to consider:

1. Which library to use for caching
1. Cache invalidation (whether and how to deleted the cached csv file if the underlying data changes)
1. Cache expir

[2020-06-22 16:13] leifan89 commented on #325
I'm taking a look at this as my first issue! PR forthcoming 🙂

[2020-06-23 01:58] redshiftzero commented on #719
Whoops this is a dupe of #576

[2020-06-23 01:58] #719 closed

[2020-06-25 03:09] abandoned-prototype opened #743 "bulk_add_officers update by ID"
When using the bulk_add_officers command officers can be identified by either the `unique_internal_identifier` or a combination of first name, last name and badge number. @brianmwaters also has a PR pending that allows to identify officers by just first name, last name to be used by smaller departments that don't have any name collision issues.

For Chicago, these option do not seem to be sufficie

[2020-06-25 03:41] McEileen opened #744 "The "add new officer" form is broken"
When I try to add a new officer on staging, through the form at `officer/new`, it throws an internal server error.

I tested it locally, and the error appears to be coming from adding an assignment.  Here are the relevant error messages:
[code]

[2020-06-26 00:27] abandoned-prototype commented on #744
Because I thought it might be my changes I quickly search for the error message. Found this: https://stackoverflow.com/questions/16151729/attributeerror-int-object-has-no-attribute-sa-instance-state#16152945 Looking for this problem in the code it looks like the issue is the interaction of: https://github.com/lucyparsons/OpenOversight/blob/2a7a3451bb75cfe5ed7365625a3db5d45cc842a7/OpenOversight/app

[2020-06-28 05:59] abandoned-prototype opened #746 "Using python auto-formatter"
We currently enforce the code style in our code-base using flake8. One downside of that tool is that flake8 points out issues, but doesn't really help you to solve it. I found this particularly annoying with errors like `continuation line under-indented for visual indent` after breaking up a function call that is too long into multiple lines.

That is why I propose that we select an auto-formatter

[2020-06-28 23:35] EMCain commented on #711
@brianmwaters @redshiftzero do you know where officer listings/demographic data about cops in a department are being uploaded?

My impression is that there are two places:

1) an individual input form where volunteers can add one officer at a time
2) a bulk import feature where they upload a spreadsheet of officers

Are there any others?
Also, am I correct to assume that any missing data in 2) sho

[2020-06-29 01:06] EMCain commented on #711
Since this issue has several related components, we have decided to work on a partial fix PR that addresses it for gender specifically. Then, future contributors can use our work as an example for how to fix it for other demographic categories.

I’m going to go into detail about what I mean by this, but can we get a sign-off from @redshiftzero or another admin to approach the issue in this way bef

[2020-06-29 01:20] EMCain opened #748 "Bug - Chicago PD reporting link is broken on openoversight.lucyparsonslabs.com"
I don't know if this is the correct place to report problems with specific instances of the project -- let me know who to contact if it isn't.

Using an arbitrary officer as an example:

https://openoversight.lucyparsonslabs.com/complaint?officer_first_name=RITA&officer_middle_initial=M&officer_last_name=MARTINEZ&officer_star=9926&officer_image=%2Fstatic%2Fimages%2Fplaceholder.png

The button on t

[2020-06-29 02:07] abandoned-prototype commented on #748
Thanks @EMCain! This is definitely the right place to report this and an important find. Seems like this link is just stored in a template, so we would need to find a new/working link to fix this. Potentially we could also work on storing those links together with the department in the database, so that we have a link not just for Chicago, but any department that has one

[2020-06-29 02:53] abandoned-prototype commented on #711
I think this plan sounds great. Thank you both for the work you already did in this to concretely identify the work that needs to be done. Definitely agree with replacing "Not Sure" with NULL, this will make things so much cleaner. Love the idea of putting in database constraints to enforce the four options as well.

If at all possible I would like us to do a similar thing as the one proposed for

[2020-06-29 04:24] EMCain commented on #711
Ah, good catch, I was just thinking in terms of test data but of course it’ll have to work on existing datasets too. I’m planning on having a function normalize the gender values and it can be used in the migration as well.

[2020-07-06 03:15] abandoned-prototype commented on #26
Will assign this to myself since it looks like I already started some of that work. Definitely possible to have our CPD officer profiles have a link their cpdp counterparts. I will also investigate feasibility of directly incorporating cpdp data onto the profile

[2020-07-08 01:14] brianmwaters commented on #711
Just catching up on this thread. Looks like y'all are doing some good work.

This might belong in a separate issue, but I thought I'd drop it here so y'all who are working on this can be aware as it may be relevant:

In OO, if you go to "find an officer" (http://localhost:3000/find) and leave all the fields blank and/or "not sure", the search will return all of the officers in the specified depart

[2020-07-08 02:22] #744 closed

[2020-07-12 01:52] dismantl opened #752 "Sort by salary"
Officer salaries receive a lot of media attention and I think it would be helpful to have a "sort by" dropdown in the officer listings page so people can see who the highest "earners" are in any particular department.

[2020-07-13 00:06] EMCain commented on #711
@brianmwaters yep, we are working on addressing the problem you identified.

A question for you: @juholgado is working on adding tests, in particular, we want to create another test very similar to this one in test_utils.py:

[code]

Where does `mockdata` come from? I don't see it explicitly assigned anywhere. It's not the same as the sample data provided with the app, is it?

[2020-07-13 01:09] brianmwaters commented on #711
I'm confused because I don't see `mockdata` in the code snippet you included!

[2020-07-13 01:42] EMCain commented on #711
oh sorry!
It is the argument to the function, I left that line out by mistake.

[code]

[2020-07-13 01:51] juholgado commented on #711
We worked on some changes for `filter_by_form` today, focusing on how it handles the gender field. These changes alter the behavior such that
- If "Not Sure" is specified in the filter form, no filters are added for that field. For example, if Not Sure and Male are checked on the filter form, we do not filter on gender.
- Specifying a gender also returns officers whose gender is "Not Sure". For ex

[2020-07-13 02:30] brianmwaters commented on #711
@juholgado that sounds great. What do you think about also removing the "Not Sure" check box from the UI?

[2020-07-13 03:03] EMCain commented on #711
@redshiftzero and @brianmwaters I am working on normalizing the various string values representing gender to 'M', 'F', 'Other', or NULL.

**Do we know what values are currently being used for genders in existing instances' databases, as per @abandoned-prototype 's request to normalize the existing data?**

So for example I'm expecting "M", "Male", and "Man" (and their uppercase/lowercase variants)

[2020-07-13 04:02] brianmwaters commented on #711
I've never actually looked at the prod data, so I don't know.

If Jen can get me SQL access (will probably end up being helpful for VT data import as well), then I can run a query for you that would show all of the entries under the gender field. But, based on my reading of the OO source code, it _should_ be normalized to a few canonical values. But there could be outliers.

[2020-07-13 04:06] brianmwaters commented on #711
Also, @EMCain, re: `mockdata`, I'm honestly not super familiar w/ how tests work in OO, but here is where you want to look: https://github.com/lucyparsons/OpenOversight/blob/develop/OpenOversight/tests/conftest.py#L431

[2020-07-13 04:42] abandoned-prototype commented on #711
@EMCain @brianmwaters
In regards to the `mockdata` on the pytest fixture stuff I recommend taking a look at this documentation https://docs.pytest.org/en/stable/fixture.html So basically whenever you use the name of a function that was tagged as `pytest.fixture` as a parameter of your test it automatically runs that function and assigns the return value as that parameter. These fixtures might depe

[2020-07-13 05:12] abandoned-prototype commented on #711
Done with this. I am pretty sure I got the actual values from the database and it turns out that they are all either "M", "F", "Not Sure" or NULL. So it seems no additionally work needs to be done here, sorry for adding unnecessary complexity and thanks for asking questions on this!

For the record, if someone looks at this later working on the "race" field, that one is definitely a bigger mess wi

[2020-07-13 05:31] brianmwaters commented on #711
Shouldn't we get rid of the "Not Sure" entries and replace them with NULL? I know a bunch of y'all on this issue have been thinking about this in detail so I leave it to you.

[2020-07-13 20:53] brianmwaters opened #753 "Handle officer promotions smoothly w/o promotion date data"
In Vermont, we are doing records requests for roster data twice a year (because the police academy graduates two classes a year). With each new dataset, we can see that some officers have been promoted, say from Officer to Sergeant. We don't have access to a precise promotion date, but we can see that they have been promoted.

This presents a problem within OO, which creates a new row in the `assi

[2020-07-13 21:47] EMCain commented on #711
On Sun, Jul 12, 2020 at 22:31 int10h <notifications@github.com> wrote:

Yes, we are replacing anything other than “M”, “F” and “Other” with NULL.

[2020-07-15 04:19] fritzdavenport commented on #733
Looking to get started on this. Question, though, doesn't look like units *have* officers in the db schema?
https://disman.tl/oo-docs/tables/departments.html

[2020-07-15 05:28] brianmwaters commented on #733
@dismantl i didn't even know you were hosting these docs. How up to date are they?

[2020-07-15 14:20] dismantl commented on #733
oh sorry those docs are ages out of date, I forgot they were still online. They were generated using [schemaspy](https://hub.docker.com/r/schemaspy/schemaspy/) when I wanted to get a visualization of the db schema. If that's helpful for others I could submit a PR to add a Makefile target to autogenerate those docs from a dev environment, [kinda like this](https://github.com/dismantl/CaseHarvester/

[2020-07-15 18:33] fritzdavenport commented on #733
@brianmwaters @dismantl no worries on it. There's also an [image of the schema in the repo](https://github.com/lucyparsons/OpenOversight/tree/develop/database) - dunno if that's up to date either :) I poked around in the dev db, though, and verified what I needed (and will be adding a make target to get onto the docker-compose db in my PR)

[2020-07-15 19:12] brianmwaters commented on #733
@fritzdavenport you can also check out https://github.com/lucyparsons/OpenOversight/blob/develop/OpenOversight/app/models.py, or use a tool like `psql` to connect to the database locally, after running `make start`. The creds are in https://github.com/lucyparsons/OpenOversight/blob/develop/docker-compose.yml.

[2020-07-16 03:43] #708 closed

[2020-07-16 13:54] jclr opened #754 "Issue getting dev server running"
When following the dev instructions, I get the following error:

[code]

[2020-07-16 23:15] r4v5 commented on #754
Hi there! This is definitely a bug in the latest dev branch; I'll be working on fixing it tonight. While we look into that, the parent commit before the most recent merge (f6675899f4461a7b9bdde511502f37b7e9853161) should work for exploration purposes. You can check it out via `git checkout f6675899f4461a7b9bdde511502f37b7e9853161` from your repository, and it's a perfectly reasonable thing to crea

[2020-07-17 00:21] r4v5 commented on #754
Well, the good* news is that it [doesn't look like it's our fault](https://github.com/python/cpython/pull/21473). If you change the FROM line in dockerfiles/web/Dockerfile to any of the pre-3.8 tags (3.7-buster, 3.6-buster, 3.5-buster) you should be able to successfully build and run.

I'll be PRing a fix for everyone else to benefit from too. Thanks for flagging the issue for us!

[2020-07-17 03:01] rabble commented on #754
I tried out f6675899f4461a7b9bdde511502f37b7e9853161 but it doesn't work either, same error.

[2020-07-17 03:02] fritzdavenport commented on #733
Thanks @brianmwaters :+1:
PR incoming, for whoever is ready for it

[2020-07-17 04:02] r4v5 commented on #754
@rabble that's a really interesting error, because that werkzeug issue shouldn't be present with the version specified in our requirements.txt and doesn't occur for me. Would you be willing to try again with [the code on this PR's branch](https://github.com/lucyparsons/OpenOversight/pull/757)? (the branch is `fix-754-broken-image-build`)

[2020-07-17 20:23] rabble commented on #754
Well... different error on the fix-754-broken-image-build branch

`2020-07-17 16:42:39 (1.54 MB/s) - ‘geckodriver-v0.26.0-linux64.tar.gz’ saved [2390549/2390549]

Removing intermediate container 769420a0991a
 ---> 0ef96fc47385
Step 11/30 : RUN mkdir geckodriver
 ---> Running in e7375dbb3b56
Removing intermediate container e7375dbb3b56
 ---> 991b911d291f
Step 12/30 : RUN tar -xzf geckodriver-${GECK

[2020-07-18 04:25] #754 closed

[2020-07-18 05:17] r4v5 commented on #754
@rabble @jclr The issues you've reported should all be fixed in the latest commit of `develop`. Thank you for reporting them and bearing with us!

[2020-07-19 00:33] rabble opened #758 "build fails - TypeError: can't apply this __setattr__ to DefaultMeta object"
Code: 3b32dea

Make dev runs for a while and gives this. I'm not a big python person.... is it a version problem?

`Successfully built b22144b72e7b
Successfully tagged openoversight_web:latest
docker-compose up -d
openoversight_postgres_1 is up-to-date
Recreating openoversight_web_1 ... done
Postgres is up
## Creating database
docker-compose run --rm web /usr/local/bin/python ../create_db.py
Start

[2020-07-19 15:16] r4v5 commented on #758
@rabble What you're running into should have been fixed by 3b32dea. You may need to destroy and rebuild the container. The tell is the lines `/usr/local/lib/python3.8` in the stacktraces; 3b32dea should have made it build with python3.5 unless you explicitly set TRAVIS_PYTHON_VERSION to something else. (the python 3.8 base container currently has a breaking bug with sqlalchemy.)

Docker-compose ca

[2020-07-19 15:38] am-i-the-rabbit commented on #758
@r4v5 Thanks for that!

I don't know a lot about SQLAlchemy, but is the issue with Python 3.8 a universal incompatibility between the two, or is it isolated to this particular project? I tried to find info on Google about any known conflicts between the two, but skimming the search results didn't appear to yield anything useful.

If this is an issue specific to this project, I'd like to figure out

[2020-07-19 16:46] r4v5 commented on #758
@am-i-the-rabbit

This bug is a follow-on from #754, which has slightly more detail about the problem; it's specifically [a regression in 3.8.4](https://bugs.python.org/issue41295)'s behavior that [hits a particular bit of flask-sqlalchemy](https://github.com/pallets/flask-sqlalchemy/issues/852). Because the image used for local development prior to 3b32dea was based on the '3.8-buster' docker lab

[2020-07-19 17:09] am-i-the-rabbit commented on #758
Right on! Thanks for all that.

I actually just ran across some comments a little while ago about that issue with regressing in 3.8.4. Good to know that it's not going to be a huge issue. It'll definitely give me something to do if I get bored. Hah!

Glad to hear I'm not the only one to make the jump to DevOps. Just seems like a lot more fun, honestly. I got interested in it last year when I start

[2020-07-19 22:46] dismantl opened #761 "Spam user registrations"
Both bpdwatch.com and openoversight.com have gotten spam user registrations. PR #749 aims to help mitigate that, but even with reCAPTCHA turned on bpdwatch.com is still getting spam registrations.

[2020-07-19 23:12] dismantl commented on #761
One approach could be to switch from reCAPTCHA v2 to v3, which assigns scores to user interactions: https://developers.google.com/recaptcha/docs/v3. That way we can monitor spam registrations and set an appropriate threshold based on the observed scores.

[2020-07-20 00:18] EMCain commented on #711
progress notes from today:

We worked on this branch on @juholgado 's fork https://github.com/juholgado/OpenOversight/tree/711-db-changes

(eventually it will be merged into the branch 711-filter-by-form-gender, which we will then use to open a PR to the main project)

We changed the model to constrain the gender options to ('M', 'F', 'Other', NULL)

We created a migration script that adds this co

[2020-07-20 01:47] McEileen opened #762 "Users can't confirm their emails on staging"
While testing staging for bugs, I found a bug where users can't confirm their emails.

When the user clicks the link in their confirmation email and then logs in, it takes them to the `/auth/unconfirmed` page, which says  `You have not confirmed your account yet.`  However, this page also displays a flash message that says, 'You have confirmed your account. Thanks!'

I looked through the staging l

[2020-07-20 03:08] r4v5 commented on #664
oops i accidentally done did this

[2020-07-20 18:43] dismantl commented on #761
Ok i've updated #749 to use reCAPTCHA v3. I'll deploy to bpdwatch.com and report back.

[2020-07-22 02:24] am-i-the-rabbit opened #764 "The workaround hack I use at the moment is"
Whoops

I meant to add a lot more to this and fat fingered the enter key
Sorry guys

I ran into an issue with make dev that left me without the index.css file, and the below comment provided a fix, albeit crude.
I had to create the dist directory and chmod 33 the directory
But afterward, running make assets didn't work; I got a permissions error
Had to run sudo make assets and it worked beautifull

[2020-07-22 09:44] peculater commented on #764
Hi hi.  I did some work in #714 and #739 to help out with that problem.  On the latest develop version, a `make clean` and `make dev` should destroy and re-create the directory and index.css file with the right permissions.  You can run `make clean_all` if you're seeing problems with database file permissions too.

A short explanation is that when the python container runs, by default the user tha

[2020-07-22 19:51] dismantl commented on #761
After a couple days, reCAPTCHA v3 has stopped all the spam registration attempts, which I confirmed in my logs. PR #749 should solve this issue.

[2020-07-22 21:45] am-i-the-rabbit commented on #764
Hey! Thanks for the reply.

So, I used the `make assets` work around you suggest, and it did work. It fixed pretty much everything. No problems there.

As far as getting it to repeat the same thing, I can try. But I'm not sure. I do appreciate the breakdown of the what causes it, though. That sounds pretty close to what was happening. I did have to `make clean_all` (database and all).

Is this why

[2020-07-22 22:09] peculater commented on #764
Glad to hear the `make` commands worked for you! :-)

You're exactly correct, the `export UID` is so that the processes inside the container know what UID is expected of them when they're writing files that are shared outside of the container.  The Makefile and `make` commands do that for you automatically but if you're using `docker-compose` directly that's what it's looking for.

Please do let u

[2020-07-22 23:38] am-i-the-rabbit commented on #764
Absolutely. And I'm happy to contribute any way I can. We have a solid group of people working on this together and I hope we can provide as much backup for you guys as possible.

I'm going to leave this issue open just until I find out if I can replicate that error. If not, I'm just gonna call it a fluke and close this. But understanding why it happened was the big thing, and I understand now.

T

[2020-07-23 00:17] am-i-the-rabbit opened #765 "What if an officer works at multiple departments?"
We have a handful of data in csv files that we're getting ready to upload into our OpenOversight environment. A lot of these officers happen to be currently active in multiple department. Would there be any way to reference multiple departments from a single officer's profile? This might be obvious but, again... n00b. :-)

If this isn't possible, does anyone have a similar situation that you've ma

[2020-07-23 01:45] brianmwaters commented on #765
Hey @am-i-the-rabbit, I'm working on uploading a bunch of Vermont departments into OO, and we have the same thing for one or two cops. Currently, the bulk import scripts don't have a way of handling this, so after we run our bulk import, each of those cops will have multiple profiles, one for each department. For us, it's only one or two, so we may merge them by hand afterwards. If, in your case,

[2020-07-23 02:16] abandoned-prototype commented on #765
I don't think the database supports multiple departments for one cop either. I don't know how common this is in general, so for now I don't think it's worth the complications that come with it to make it a many-to-many relationship. My suggestion for now would be to have a profile for the cop in each department and add a link (like an actual hyperlink) to the profile of each pointing to the other

[2020-07-23 02:21] brianmwaters commented on #765
Oh, oops, I was running on the incorrect assumption that the `department_id` field was in the `assignments` table, not the `officers` table. I checked and you are right unfortunately.

I agree that putting links in profiles by hand is a good idea.

[2020-07-23 03:21] abandoned-prototype commented on #743
Update on this: I decided to add a new command to accomplish this to not add even more complexity to the existing `bulk_add_officers`. Basically I want it relatively close to what a `COPY table FROM path CSV` sql command would do, meaning that there is less error-correction but closer control on the state of the database after running the command. I imagine this command being useful for big depart

[2020-07-23 04:50] am-i-the-rabbit commented on #765
That's what I was afraid of. It's not a terrible issue, though. We can work around it for the time being. Depending on how common this is, and how many other people report the issue, maybe we could look into including this functionality in a future build, but I'm not going to sweat too much over it tonight.

And, since you mention bulk uploads... did you guys need to do anything special to run `fl

[2020-07-23 05:07] am-i-the-rabbit commented on #764
So, I've tried off and on--to no avail--to replicate this. I'm going to guess it was a fluke occurrence that happened because I had run `make dev` a bunch of times and got some stuff scrambled in the process. If I run across it again, I'll reopen this issue and we can work from there, but I'm not going to close this for now.

Thanks for your help, @peculater!

[2020-07-23 05:07] #764 closed

[2020-07-23 05:10] am-i-the-rabbit commented on #718
This would actually help us tremendously right now. Has there been any more development from this idea since it was proposed?

[2020-07-23 05:29] abandoned-prototype commented on #765
Is the header line you posted verbatim? csv files are whitespace sensitive, so if `department_id, first_name, last_name, job_title, star_no, unique_internal_identifier` is the header line it will be unpacked as `row[" first_name"]` instead of `row["first_name"]`. We should potentially just add a `strip()` to not make it an issue.
Also if you haven't seen it there is some documentation at https://g

[2020-07-23 05:31] abandoned-prototype commented on #765
Also definitely feel free to open more issues if things are not directly related. There is a good chance that others run into similar problems

[2020-07-23 07:50] am-i-the-rabbit commented on #765
Thank you! That was it.
I don't work with CSV files much. Totally missed that. This is why I love dev communities. :-)

[2020-07-23 07:50] #765 closed

[2020-07-24 01:50] brianmwaters commented on #718
I think it's a good idea, and it would be easy enough to do by wrapping the bulk import commands in a web interface, but I would have big concerns about the attack surface (or just risk of benign instability) exposed by doing so, as the bulk import scripts are kind of ad-hoc and not really designed for this.

[2020-07-24 12:13] am-i-the-rabbit opened #766 "deployment for production"
Hello, again, everyone. You guys are going to get so bored with my issues. lol

I'm actually hoping that maybe we can mitigate that by separating dev issues from deployment and admin issues. I love this project, and I plan to be working on/with it for a long time. And I'm already a python geek.... that parrot's already dead.

Anyway, I'm working on deploying a production environment right now, and

[2020-07-25 15:45] am-i-the-rabbit commented on #766
Scratch that. We got where we need to be; found the missing piece, so to speak.

[2020-07-25 15:45] #766 closed

[2020-07-25 16:11] brianmwaters commented on #766
@am-i-the-rabbit looks like you're building out a production instance of OpenOversight. That's great! You're also welcome to add your local department to the main OpenOversight instance at openoversight.com. I don't think twitter supports DM's, but you can email me at the email I use in my commits, or at info@lucyparsonslabs.com.

[2020-07-26 03:48] abandoned-prototype commented on #718
I agree with @brianmwaters . it wouldn't be hard to feed any csv into the existing command, but I am also afraid of many unintended effects. Basically, to make this command useful it has to have so much access that it can also very easily break stuff.

Generally, I think it would be a great functionality, but would need a lot of additional work. In my opinion we would at least need a preview where

[2020-07-26 17:05] am-i-the-rabbit opened #768 "bulk-add-officers breaks department browsing; "object has no element 0""
So, I've got a massive csv file I was going to put up. And I tested this with a few different *small* sets of data but something is going on when I try `flask bulk-add-officers cops.csv`. From bash, it seems to be fine. I see line after line of officers successfully added.

I created a new department for them, and made sure department_id for each officer in the csv is 3, to match the id in the dep

[2020-07-26 17:30] abandoned-prototype commented on #768
I thought I had seen this problem and a fix before, but I guess not. What I think the issue is, is that the template expects every officer to have an assignment  (see the part `officer.assignments[0]`), but the bulk upload didn't create any assignments because those fields weren't present in the csv.
This is part of a more general problem that our templates and other parts of the code make implici

[2020-07-26 17:37] am-i-the-rabbit commented on #766
Hey Brian,

I actually e-mailed you guys just the other day. Francis replied and I believe you were one of two people he CC'd that.

We are building out to production, so I will absolutely take notes and send as much feedback your way as possible.

Thank you!

[2020-07-26 23:45] dismantl opened #770 "Open Graph support"
When sharing officer profiles on social media, it would be nice to have the link show up with the officer's name and picture in the little preview. Open Graph is what facebook uses and twitter has their "cards" thing and there might be other standards worth looking at.

[2020-07-26 23:58] dismantl opened #772 "Audit log of user actions"
Admins don't really have much visibility into updates that occur on the site (new photos/tags, edited profiles, added officers, etc.). Since newly registered users are able to sort and tag images, a bad actor could abuse this to quickly sort and tag inappropriate or incorrect photos to officer profiles and admins wouldn't necessarily know (for a while or at all) unless they're being extra vigilant

[2020-07-27 00:05] EMCain commented on #711
Now that gender records of "not sure" have been replaced with None, this is what displays on the officer listing:
<img width="1203" alt="Screen Shot 2020-07-26 at 5 01 30 PM" src="https://user-images.githubusercontent.com/11471197/88492758-d75a0600-cf61-11ea-829a-f6594f9d6e49.png">
<img width="579" alt="Screen Shot 2020-07-26 at 5 01 38 PM" src="https://user-images.githubusercontent.com/11471197/8

[2020-07-27 00:42] abandoned-prototype commented on #772
Yes, I think it would be pretty important and useful to have something like that

[2020-07-27 00:43] EMCain commented on #711
can someone please help me figure out how to run a single test? I am trying according to the instructions in the CONTRIB.md, for example:

[code]
This does not select the test. Neither do the following:

[code]
Trying to get into the docker shell and run the tests gets weird issues as well.

How do I select and run a single test? @redshiftzero @brianmwaters

[2020-07-27 00:53] EMCain commented on #711
(Deleted a comment about how to run tests because I figured it out)

[2020-07-27 01:49] juholgado commented on #711
Today, with the proposed DB changes in mind(changing 'Not Sure' entries to NULL):
* Changed the checkbox in the filter form for gender to be a radio button. This is so that only one option (Male, Female, Other, Not Sure) can be selected at a time. Male, Female, and Other will return officers whose gender is set to that along with all officers whose gender is NULL. Not Sure will just not add any fi

[2020-07-27 01:52] EMCain commented on #711
I am having trouble figuring out why my code change has caused an IntegrityError in a seemingly unrelated test. (I am also having trouble with other tests but right now I'm focusing on this one file.) Can someone please help?

to summarize -- it's causing the test `OpenOversight.tests.routes.test_officer_and_department.test_admin_can_upload_photos_of_dept_officers` to fail. I'm not sure why since

[2020-07-27 01:53] EMCain commented on #711
tests that are failing for me:
[code]
tests/test_commands.py::test_csv_import_update
tests/test_commands.py::test_csv_new_name
tests/test_commands.py::test_csv_new_officer
tests/routes/test_image_tagging.py::test_user_can_add_tag
tests/routes/test_officer_and_department.py::test_admin_can_upload_photos_of_dept_officers
tests/routes/test_officer_and_department.py::test_ac_can_upload_photos_of_dept_

[2020-07-27 02:58] am-i-the-rabbit commented on #768
Alrighty. I forgot to close this earlier but I got it resolved.
I actually did two things, and I'm not exactly sure which fixed this:

I resaved the CSV file with our data for upload with *nix-formatted CRLF. It appeared to be reading the file as a single, long line which... obviously... didn't...work. XD

But I don't think that's what fixed this error, after thinking about it a little bit. The ot

[2020-07-27 02:58] #768 closed

[2020-07-27 05:45] abandoned-prototype commented on #711
Definitely agree that it should not display "None". I think displaying "Gender: Unknown" is fine, alternatively we can chance the template, to only show the entry if it's not `None`

In regards to the failing tests, I plan to take a look tomorrow. Definitely strange that it's different tests for the both of you

[2020-07-27 18:32] brianmwaters commented on #768
Alternatively, it would be cool to fix the templates so they don't do this! I actually made a few changes like that in the Vermont pull request. Having an officer w/o any assignments seems totally reasonable - it just means we don't know their rank.

[2020-07-27 18:46] am-i-the-rabbit commented on #768
So, we get our data in JSON format, and i have to parse it to CSV to be uploaded, anyway. So I built a little python script and set a list variable containing all the actual ranks. Then there's a condition for each parsed record that if the data from the job_title field in the JSON source isn't in that list, it sets the rank to "Not Sure" and continues on.

Similarly, if either badge number or emp

[2020-07-27 22:31] EMCain commented on #711
To be clear, we are working on different branches.

I am working on
https://github.com/juholgado/OpenOversight/tree/711-db-changes

Julia is working on
https://github.com/juholgado/OpenOversight/tree/711-filter-by-form-gender

So it makes sense that different tests are failing. What’s odd is that it’s
hard to figure out the relationship between what has been changed and what
tests are failing.

On

[2020-07-27 23:20] brianmwaters commented on #768
re: the issue w/ `None` vs `""`, see this issue: https://github.com/lucyparsons/OpenOversight/issues/711

[2020-07-28 02:45] brianmwaters commented on #762
@r4v5 how come this got reopened? Looks like you had merged a PR by @McEileen that is supposed to have fixed this

[2020-07-28 02:51] fritzdavenport opened #774 "Photo Upload Bug Stacktrace"
Could just be in dev with werkzeug, but could be confusing if it also exists in prod and there's ever an issue. Stack traces bleed into the UI when there's an upload error. Frontend errors could/should probably alert the user that an error occurred but send the trace to a database table or some other log aggregation.

![Screenshot from 2020-07-27 16-14-07](https://user-images.githubusercontent.com

[2020-07-28 02:52] fritzdavenport commented on #774
Additionally - if there's a 404 on profile pictures - photos are just empty gray boxes, with no indication of the failure to load

[2020-07-28 02:53] fritzdavenport opened #775 "Streamlined Tagging Experience"
As a photo tagger, it would be a nice experience to the information required to tag an officer all contained in the view that I'm using. I'd like a form that looks up name / badge and shows the officer details inline on the page.

[2020-07-28 02:55] brianmwaters commented on #774
From the screenshot, this looks like markup to me. Is there also a stack trace? In any case, do you have a URL or similar to reproduce?

[2020-07-28 03:02] fritzdavenport commented on #774
@brianmwaters - yea, looks like an html render of a stack trace, you can see the `botocore.vendored.requests.exceptions.ConnectionError: ("Connection aborted.', OSError(...` in the second line of the HTML. The line after implies that it's a Werkzeug render (which makes sense, I'm running Flask via Werkzeug locally)

I don't know if it'd manifest in production, and I specifically triggered it becau

[2020-07-28 03:13] brianmwaters commented on #774
Oh, this is probably triggering because your local dev instance isn't setup to work with S3.

I think that it's safe to assume that if you can dump a stack trace on your local dev instance, than it could be dumped on prod if there were some issue w/ S3. So this is probably a legit bug that should be fixed!

[2020-07-28 03:16] brianmwaters commented on #774
@abandoned-prototype said on slack that we have a debug flag which is set on local dev instances and not in prod. @fritzdavenport can you see if you can still reproduce this w/ the debug flag unset? If not, this isn't a bug, but if you can, then it is.

[2020-07-28 03:16] fritzdavenport commented on #775
![Screenshot from 2020-07-27 23-08-54](https://user-images.githubusercontent.com/5983782/88615081-2d60a380-d05f-11ea-8626-1ace930248f5.png)

a hacked together version of what I'd imagine

[2020-07-28 03:18] brianmwaters commented on #775
As someone who is going to be tagging a very large number of photos in the coming days, this would probably be nice, but I haven't felt that pain yet ;)

[2020-07-28 03:43] abandoned-prototype commented on #775
Yes. I 100% agree that this is an important thing to add. Especially, I would like the lookup to show the best match(es) and not just fail if there is no match because a single letter is off. Sometimes the badge number and name is hard to read, but all together they still allow for a match with pretty good confidence.

[2020-07-28 03:47] fritzdavenport commented on #774
Confirmed in slack that bug is not present in staging, closing.
![Screenshot from 2020-07-27 23-34-44](https://user-images.githubusercontent.com/5983782/88616997-93e7c080-d063-11ea-81c5-9f955c7f19b1.png)

[2020-07-28 03:48] fritzdavenport commented on #774
gg

[2020-07-28 03:48] #774 closed

[2020-07-28 03:53] fritzdavenport commented on #171
Finishing this puppy up, encountering an unexpected error in `test_functional` but all other tests and functionality passes. Expect PR soon

[2020-07-28 04:36] abandoned-prototype commented on #768
Personally I think the way that @brianmwaters/Vermont went in that regard is the best approach right now: Keep all the scripts you are using to transform the data and publish them in your own repo. That way,  it's possible to reproduce where the data is coming from and other people can learn and adapt those for their own needs, but nobody expects them to automatically also work on their data (and

[2020-07-28 05:41] abandoned-prototype commented on #711
I was not able to reproduce @juholgado's failing tests, only two tests failed for me one of them was `test_gender_filter_select_all_male_officers` which seems to be work in progress. The other is I think an issue with my test setup (and also not included in the provided list)

I was however reproduce your failing tests @EMCain. One issue I identified is in the `bulk-add-officer` command, to upload

[2020-07-29 01:27] McEileen commented on #762
@brianmwaters Unfortunately, the PR I merged didn't fix the bug.  I'm still working on this issue.

[2020-07-29 02:08] McEileen opened #776 "500 on image upload shows confusing error message"
If a 500 occurs when a user attempts to upload an image, the user will see the raw text associated with the 500.  It would be good to display something more user-friendly.

h/t to @r4v5 for pointing this out

[2020-07-31 04:43] abandoned-prototype opened #778 "Assignments.csv download not restricted to department"
When downloading an `assignments.csv` for a department on https://openoversight.com/download/all it seems that instead of downloading only the assignments of the particular department the resulting csv contains data of all (or at least many more) assignments in the csv. This is most likely an issue with the join between assignment and department.

[2020-07-31 15:35] #325 closed

[2020-08-01 20:45] abandoned-prototype commented on #778
Tagging on a small second issue here: Departments without officers should not be listed on `/download/all`

[2020-08-03 21:49] #778 closed

[2020-08-06 13:31] am-i-the-rabbit opened #782 "Confirmation links in e-mail don't work"
It looks like the links being sent to users for confirmation aren't working. I've tested this with a few different test accounts. The user registers. I get a "please approve" message. So I approve (and I've tried doing it from both the e-mail and the web  app) and the user gets their "please confirm" message. They click the message, but it doesn't approve the account. Instead, it makes no changes

[2020-08-06 13:33] am-i-the-rabbit commented on #782
Wait. It looks like this might be related to #762 and may even be the same issue. I'll look more into that first when I get back to this.

[2020-08-07 00:35] redshiftzero commented on #740
from the OO meeting just now I learned (sorry I'm not citing who it was) it turns out we can set up backups of the images on the AWS S3 side, we should look into doing that instead

[2020-08-07 00:43] notobsd commented on #740
I think a backup procedure should be developed just to make it more uniform for multiple deployment strategies.  For small enough deployments, there wouldn't even need to be an S3 deployment, but with a sufficiently large photo archive, S3 type buckets would be good. It's worth noting that since AWS offers glacier, that could be used for longterm backup storage specifically for AWS.  Versioning ca

[2020-08-07 02:01] McEileen opened #784 "Add documentation on areas that people will need to change if they launch their own deployment of OpenOversight"
If people are interested in launching their own deployment of OpenOversight, such as [BPD Watch](https://bpdwatch.com/) or [cops.photo](https://cops.photo/), they'll need to customize certain areas of the codebase.

It's especially important for people to change the contact section, otherwise emails might go to the wrong group.

Here's a rough list of areas that people would need to customize
- [T

[2020-08-07 02:20] brianmwaters commented on #784
We should make sure they change "OpenOversight" in some places so users don't get unduly confused between OO the *software* and OO the *website*. Maybe most of this can be done through a configuration file or something

[2020-08-07 02:22] brianmwaters commented on #784
Actually - is there a diff from bpdwatch.com we could use as a starting point for making this configurable at install time? Ping @dismantl

[2020-08-07 19:50] redshiftzero commented on #664
just added 0.6.0 tag on main for posterity, closing this

[2020-08-07 19:50] #664 closed

[2020-08-07 20:01] redshiftzero commented on #772
yeah this is a good idea - the only functionality that exists right now to this end (which was implemented because of the possibility of malicious/hijacked accounts attempting to poison the data) is the ability to see recent user actions (tags, classifications) on the user's profile, and then disable their account. But with a large number of users as you note, this is really hard to monitor.

[2020-08-07 20:09] redshiftzero commented on #758
should have been resolved by #759, please comment if not

[2020-08-07 20:09] #758 closed

[2020-08-07 20:17] redshiftzero commented on #746
yeah I much prefer the autoformatting tools like Golang and Rust have. I use black in most of my other Python projects, I like it a lot, so :+1: from me to adding it to the linters (might be a good time to add a `make lint` target for devs) and running `black --check` in CI (exits 1 if files will be reformatted)

[2020-08-09 00:59] abandoned-prototype opened #786 "Surfacing form validation errors in tests"
In a lot of our views that include submitting a form the flow looks something like this
[code]
The first time accessing the path we show the template with the form, then once it's submitted we do access the same path, but this time do something with the data and redirect to a different url.
The problem is that with `form.validate_on_submit()` we don't separate the initial/`GET` case from the valid

[2020-08-09 02:46] fritzdavenport commented on #746
I personally feel like black is too intense about some things, but consistency is always good and the community seems to throw a lot of weight behind black. I use pycharm and know there's both black (and flake8) autoformatting options so :+1: from me

[2020-08-09 02:59] #762 closed

[2020-08-09 03:04] r4v5 commented on #782
@am-i-the-rabbit Hi! I think I have a fix for this in latest develop. Please let me know if it fixes it for you too :)

[2020-08-10 00:01] fritzdavenport commented on #786
Tackled some of this in https://github.com/lucyparsons/OpenOversight/pull/783

e.g https://github.com/lucyparsons/OpenOversight/pull/783/files#diff-6e2fc07a8e3f096e2dbc42cbf2786db9R62

[2020-08-10 01:54] EMCain commented on #711
We spent a lot of time today trying to debug the tests on @juholgado's brancy. We didn't really make much progress in terms of fixing them, though we did learn some stuff about further functional changes needed for our next work session. Our plan is to keep working on this and ignore the failing tests for now, and when we make a PR to `develop` we can make note of what is failing and get help then

[2020-08-10 02:07] abandoned-prototype commented on #711
Thanks for the update! Totally agree with your assessment of the situation. There are a lot of not-so-great things happening in the tests and eventually we definitely need to clean up our tests. But this is certainly out of scope of your work here. So, your approach of ignoring the failing tests, especially those that you seemingly didn't touch makes a lot of sense to me, so you can both focus on

[2020-08-11 02:33] fritzdavenport opened #792 "Organization of department listing"
Looking at openoversight.com, I wonder if there should be general bounding boxes or overall categories for departments? I see a few departments for VT, but I can't imagine it'd be clear to a non-Vermont resident what "Colchester PD" is, and where that is specifically.

Would states make sense to group departments? Not sure why CBP would fit in that

[2020-08-11 02:46] McEileen opened #793 "Chicago PD's browse page 500s on both prod and staging"
When I navigate to the "browse department" page for the Chicago Police Department, there is a 500 on both prod and staging.

When I looked at logs in staging, I saw this

[code]

I only see this bug for the Chicago Police Department.  My initial theory is that something get messed up with the migrations for Chicago, and the assignments are missing from the database.

[2020-08-11 13:25] redshiftzero opened #795 "refactor: OpenOversight/app/templates/list_officer.html"
Followup from https://github.com/lucyparsons/OpenOversight/pull/794/files: @McEileen noted we have a lot of logic in this template, if we can move as much of this as possible to the view function it'll make bugs like #793 easier to find/test

[2020-08-11 13:31] redshiftzero commented on #792
see #364 where there was a suggestion to have a map for selecting the department

[2020-08-11 13:33] redshiftzero commented on #736
jen is testing a github integration

[2020-08-11 13:48] redshiftzero commented on #793
still seeing internal server error on staging, reopening

[2020-08-12 02:49] fritzdavenport commented on #792
closing as dupe, thanks @redshiftzero

[2020-08-12 02:49] #792 closed

[2020-08-12 15:11] redshiftzero commented on #793
I have applied the hotfix in #796 to staging and production to resolve this 500, we should obviously still merge

[2020-08-12 20:12] #793 closed

[2020-08-12 20:38] parhamr commented on #413
Other possibly useful image tags:

1. Poor quality
2. Duplicate
3. Not in this department/agency

[2020-08-13 23:44] ssempervirens opened #797 "Add states to browse department page or separate department lists by states"
As of now, our browse department page lists the names of departments, but as we continue to add new departments in new cities, I'm worried this will get confusing. For example, I didn't know that the Chittenden County Sheriff's Office was in Vermont until I googled it.

The easiest solution here would be to add the state name in parentheses or something after the name — so it would read Chittenden

[2020-08-14 00:43] #743 closed

[2020-08-14 01:06] fritzdavenport commented on #797
See also (closed) https://github.com/lucyparsons/OpenOversight/issues/792
and https://github.com/lucyparsons/OpenOversight/issues/364

[2020-08-14 01:08] fritzdavenport commented on #736
fixed in https://github.com/lucyparsons/OpenOversight/pull/783/files , fwiw. Needs merge

[2020-08-14 01:09] fritzdavenport commented on #171
Finished - tests pass locally but die on Travis. Struggling with getting much info for it :/

[2020-08-14 16:38] todrobbins opened #798 "Filter by photo availability"
I noticed that it would be really useful as a user to filter by the presence or absence of a photo. Something like:

**Photo**
- [x] Available
- [ ] Not Available

[2020-08-14 18:25] ssempervirens commented on #748
Seems to me the correct link here should be https://www.chicagocopa.org/complaints/? If I can get a +1 on that, I can make that change today. Agreed @abandoned-prototype we should definitely store this link for every department.

[2020-08-14 18:50] redshiftzero opened #799 "backup fails due to ImportError"
# STR for those that have access to staging

0. `fab staging backup`

# Expected behavior

Backup succeeds

# Actual behavior

Backup fails:

[code]

# Resolution

Either using a relative import on the offending import or moving https://github.com/lucyparsons/OpenOversight/blob/develop/OpenOversight/db_backup.py into the parent directory and updating its imports

[2020-08-15 02:18] dismantl opened #801 "Favicon"
OpenOversight needs a favicon. I usually use https://realfavicongenerator.net/ to generate boilerplate code, but we still need an icon to start with. Anyone have graphic design skills?

[2020-08-15 04:15] parhamr opened #802 "Bug: photos are upright in tagging workflow but rotated 90° when cropped"
I’ve seen this happen with a set of photos that came from a particular camera/phone, and I have a hunch for the cause. First — a user story:

1. **Given** I am logged in
2. And I have permissions to tag faces in photos
3. **When** I am tagging a face in a *certain* photo
4. And the photo appears at the correct orientation in the tagging interface
5. **Then** I see the cropped officer tag is rotate

[2020-08-16 17:22] dismantl commented on #786
It looks to me like a good portion of our tests check for errors by searching for error messages in the output, e.g. `assert b'Email already registered' in rv.data`, while assuming or asserting a 200 response code. Isn't that standard practice? I would expect form validation errors to still return a 200 response code and include form-wide or field-specific error messages inline.

[2020-08-16 19:38] #799 closed

[2020-08-17 00:09] juholgado commented on #711
Today, we updated the `bulk_add_officers()` function to normalize gender when updating an officer via a CSV. We check for some string such as Male/Female, M/F, Man/Woman and insert the new gender value into the database as M, F, Other, or None if the new value is not recognized.

One question that arose while implementing this change:
How do site admins add officers via a CSV file?

We created a C

[2020-08-18 02:10] parhamr commented on #802
Reproducible with EXIF:

[code]

[2020-08-18 03:37] b-meson opened #804 "Support for deployment scripts"
We have been getting a lot of requests for deployment support. We should add support for the following, maybe in Aansible.

The install script should at minimum run the following

- Install an `nginx` user and install the application running as the user (non-root)
- Expose `nginx` as a reverse proxy for a gunicorn app to connect to
- Install Let's Encrypt and install the TLS certificates.
- Deploy

[2020-08-19 18:32] fritzdavenport commented on #804
Is there anyone I can pair with @b-meson - if I can make a docker-compose or ansible playbook, to test it going to a fresh box in production?

[2020-08-19 19:01] #733 closed

[2020-08-19 19:42] b-meson commented on #804
@fritzdavenport absolutely! I can create as many testing / staging servers as you need in our cloud environment. I think there is one more thing to understand: do we want to create something like a k8 and use our containers in prod, or do we instead want to run the applications on bare metal (as we currently do, but not everyone is doing it this way)

[2020-08-22 17:35] parhamr opened #810 "Enhancement: alpha sort the listing of units"
User story:

1. Given I am editing an officer’s assignments
2. When I view the listing of available Units in the officer’s Department
3. Then I should see the Units listed in alphanumeric sort, ascending

Expected result: the list is sorted alphabetically
Actual result: the list sort appears to use the primary key of the unit table

Example:
<img width="580" alt="Screen Shot 2020-08-22 at 10 33 13

[2020-08-22 18:00] parhamr opened #811 "Bug: 'Job Title' for Assignment appears in UI as JOB_TITLE"
E.g. visible at URL http://localhost:3000/officer/14/assignment/7

The underscore is superfluous.

[2020-08-22 21:17] #811 closed, assigned to nobody

[2020-08-23 05:29] parhamr opened #814 "Bug: edit officer form will default to the first race/gender options when model has null values"
User story:

1. Given I am signed in as a user with permissions to edit an officer
2. When I have an officer with `NULL` as the value for `race` and/or `gender`
3. Then I expect to see `Not Sure` as the default value for `race` and/or `gender` when I load the edit officer form

Actual result: the first options (`Black` and `Male`) are defaults for editing officers with `NULL` race or gender values

[2020-08-23 22:27] parhamr commented on #786
@dismantl in my experience, HTML requests typically return HTTP 400 or 422 with the validation errors, but a JSON API, for example, would always return HTTP 200 but include an `errors` key in the response object.

[2020-08-25 01:46] abandoned-prototype opened #818 "/find broken on staging"
Reproduce:
Access https://staging.openoversight.com/find leave the forms blank and click through step 1 to 4. Clicking submit leads to "Internal Server Error".

The following is the error log from the staging server related to the error

[code]

[2020-08-25 02:25] McEileen commented on #818
I also got this error when I entered values for every field in the form.

[2020-08-25 23:30] #818 closed

[2020-08-26 05:40] abandoned-prototype commented on #711
Sorry @juholgado I didn't see this update earlier.
For csv, there are some that @brianmwaters has on his repo that were used to add data to our production database. I recommend this one: https://github.com/brianmwaters/vt-police-tools/blob/master/vt_police_tools/data/ccso/2020-01/cleaned/roster.csv (Import with the flag `--update-by-name`)

For running the command, there is some info here: https:/

[2020-08-28 06:12] abandoned-prototype commented on #66
Updating here to say that this task has finally been completed. An updated roster has been imported to production.
Thanks to @rajivsinclair for providing very recent assignment data. The work on merging is documented here: https://github.com/abandoned-prototype/OpenOversight_data/tree/main/CPD_August_2020. The files starting with "4_out_select_" are those that have been imported via the `advanced_

[2020-08-28 06:12] #66 closed

[2020-08-30 22:35] egfrank commented on #737
Can I claim this issue? I haven't done type annotations before but it seems like based on mypy docs the order of operations would be:

- Add mypy to the dev dependencies
- Run mypy as part of the lint target to enable gradual typing
- Correct any errors that come from original mypy run
   - Ignore external modules that do not support type checking by adding them to the mypy.ini config
   - Add typ

[2020-09-01 04:40] abandoned-prototype commented on #802
Thanks for your work on this @parhamr I ran into a similar problem, might be the same problem or connected, so adding it here. When tagging I ran into several photos that are shown rotated by 90° https://openoversight.com/cop_face/department/1/image/1593, but the image as it comes from S3 is shown in the right orientation in the browser. When I tag a cop in that rotated image it ends up tagged 180

[2020-09-01 04:48] abandoned-prototype opened #820 "Internal Server Error while tagging"
When trying to tag a cop on either of these images: https://openoversight.com/cop_face/department/1/image/1548 and
https://openoversight.com/cop_face/department/1/image/1403 I get an 500 "Internal Server Error" once clicking "Add identified face". It doesn't seem to be related which officer is tagged in the image.

Could anyone with access to production reproduce the bug and then post the resultin

[2020-09-01 05:05] abandoned-prototype commented on #737
Hi @egfrank. Yes, you can claim this issue!
In regards to your plan, I think adding mypy to dev requirements and linting can be done independently from adding type annotations. Also I am not sure which errors we can expect mypy to show before having added type-annotations, so fixing errors might be at the end of this, also depending on how many issues come out of it.
Finally, yes, focusing on file

[2020-09-01 15:52] egfrank commented on #737
Hi, thanks for the response. I totally agree that `mypy to dev requirements and linting can be done independently from adding type annotations` and in fact I have commits for the dev requirements and linting if you want me to push those right away.

That being said, if you run mypy on the `develop` branch here are the errors you get (note: this is still using a mypy.ini config file that mutes erro

[2020-09-01 16:00] egfrank commented on #737
Additionally though, I was reading this blog post http://calpaterson.com/mypy-hints.html and they recommend adding two config options to make mypy *more* strict. They say

Running on develop  with those two options true looks like

[code]

I'm definitely willing to check out all these errors if you think those config options make sense, and have already started looking into some of them.

Please l

[2020-09-02 00:39] abandoned-prototype commented on #737
Nice research, thanks for looking into this very thoroughly!

This sounds like a great first goal to me

Yeah, I am definitely on board with `no_implicit_optional`, forgetting that something might be `None` is certainly of the most common errors.  I am also fine with `check_untyped_defs` although it's not as clear to me what it does exactly

Good question, but I think whatever you feel best with i

[2020-09-02 04:04] abandoned-prototype opened #821 "Image tagging queue"
When tagging officers faces in images we give our users three options

1. Identify an officer, find the id and enter it in the form. Click "Add identified face" and be brought back to the image to identify more, or choose another option
2. Click "skip" - which will keep the image in the identification queue, but will randomly select another image (although it could be the same) from the queue
3. C

[2020-09-02 04:53] rot13x2 commented on #821
I agree with everything you said here. An additional issue (that you touched on) is that the CPD-queue contains many images of officers from other departments, such as Berkeley, Oakland, and NYPD. That's likely because the default department for image submissions is CPD - combined with images auto-submitting once uploaded, without user confirmation, inadvertent uploads to wrong departments seem pr

[2020-09-02 14:54] egfrank commented on #737
Okay great I'll make a PR with just the dev changes right now. Do I need to get any permissions to make a PR? I'm currently getting a 403 when I try to push a branch. Sorry if I'm missing some instructions from the Contrib file.

[2020-09-02 19:15] EMCain opened #823 "List of instances with links, organizer contact info , advice for setting up"
Please let me know if this slrre

[2020-09-02 19:25] EMCain commented on #823
The advantage to this is it would make it easier to suggest online volunteering opportunities to people who are looking to get involved, and for code maintainers to see some of the different ways the code is being deployed. It would also make it easier to set up new instances in a new city (and avoid duplicating effort—maybe there could be a section for instances that are in the works but not full

[2020-09-02 23:24] r4v5 commented on #820
[code]

[2020-09-02 23:26] EMCain commented on #711
we've been busy and took a break from working on this but will start back up this weekend.

[2020-09-03 00:50] abandoned-prototype commented on #820
Thanks @r4v5, this was very helpful as I now know that this is covered by https://github.com/lucyparsons/OpenOversight/pull/807

[2020-09-03 01:23] abandoned-prototype commented on #737
Right, I am sorry, I just realized that our contributions guide is not giving the right instructions. You will have to fork this repository, push the branch to your fork and then you can create a PR from your repository to this one. Here is more information on that: https://guides.github.com/activities/forking/

[2020-09-03 01:45] abandoned-prototype opened #824 "Fix/Update Contribution instructions"
The "submitting a PR" piece of our contribution instructions needs some updates: https://github.com/lucyparsons/OpenOversight/blob/develop/CONTRIB.md#submitting-a-pr, as it currently gives incorrect instructions.
Specifically we need to make it clear that contributors need to create their own fork of the project in order to be able to push their branches onto github and create a PR from there. In

[2020-09-03 02:16] abandoned-prototype opened #825 "Display officer - assignment end date"
Assignments are the link between an officer and the rank they have and the unit they belong to. As such assignments have a start-date and an end-date (unfortunately named `resign_date` in our code).
However, the end-date of an assignment is not shown in the officer-view (see for example: https://openoversight.com/officer/11943). Additionally the form to add or edit an assignment also doesn't have

[2020-09-06 02:19] #814 closed

[2020-09-06 05:32] #810 closed

[2020-09-06 06:27] abandoned-prototype commented on #171
Hi @fritzdavenport. Thanks for your work on this!
I am pretty excited about having this for local development. I just checked out your branch and ran `make test` and got the exact same errors that travis is getting `16 passed, 330 error`. So maybe you are able to recreate those failures by throwing some docker images away or something

[2020-09-06 23:06] rot13x2 opened #827 "Bug: Duplicate officer entries across pages in search"
Pagination is currently broken.

An easy example is [searching "Gonzalez" on the CPD roster](https://openoversight.lucyparsonslabs.com/department/1?max_age=85&page=1&name=gonzalez&min_age=16).

Compare [Page 2](https://openoversight.lucyparsonslabs.com/department/1?max_age=85&page=2&name=gonzalez&min_age=16) ![Page 2 of Gonzalez search](https://user-images.githubusercontent.com/13713244/92336632-3

[2020-09-07 04:28] #827 closed

[2020-09-11 00:28] redshiftzero commented on #573
(reports that this is confusing people)

[2020-09-11 01:01] #782 closed

[2020-09-11 04:09] abandoned-prototype commented on #772
I will take a stab at this. I plan to have a list showing recent user actions (tags / categories) that can at least be filtered by city and some ability to undo the respective action. This will be accessible to admins and area coordinator (for that particular city) only.

[2020-09-14 18:41] fritzdavenport commented on #804
Had a larger conversation about this in the monthly meeting. Want to outline a few possibilities in this issue's discussion to generally guide the conversation and what the group wants to do. We currently can or do support three different deployment methods - being 1) git+ssh, 2) ansible, 3) docker-compose. I want to outline the three approaches, hopefully consolidate to one (or two, one of which

[2020-09-14 18:45] fritzdavenport commented on #804
# Git + SSH (Existing Solution)
Probably the easiest solution in terms of infrastructure investment. A frequent combination for many developers and projects. A lightweight and common combination, but difficult to piece together after a certain point and potentially less-stable.

## Unique Pros
- Simplest solution in terms of technology
- common - bash/ssh/git is ubiquitous, but requires knowledge

[2020-09-14 18:45] fritzdavenport commented on #804
## Ansible
Ansible is an established devops tool that primarily uses python over ssh to provision a host
https://github.com/lucyparsons/OpenOversight-ansible

[2020-09-14 18:45] fritzdavenport commented on #804
# Docker-compose
Docker is a lightweight virtualization layer which allows process isolation and a solid API for deploying pre-built software bundles.

## Unique Pros
- unified testing, staging, production environments
- easy rollback / forward, simple deploys
- sandboxed - more secure in face of some threats

## Unique Cons
- debugging requires specialized knowledge (easier, to just push a new de

[2020-09-14 19:49] dismantl commented on #804
For bpdwatch.com we've used Ansible to deploy docker-compose.yml files that are fully customized with all the relevant environment variables, so it has the benefits of both the Docker and Ansible options. I've found it makes administration pretty easy; no worries about dependency management or the host environment. I put that in https://github.com/lucyparsons/OpenOversight-ansible, but instead of

[2020-09-14 22:36] egfrank commented on #737
Sorry this too so long to get back to you! I liked the idea of splitting this up into two PRs, one just for the Dev Dependencies and one for resolving all those issues. I was able to get to both today. Should be obvious but I'd recommend looking at

https://github.com/lucyparsons/OpenOversight/pull/830

before looking at

https://github.com/lucyparsons/OpenOversight/pull/831

Although 831 uses the

[2020-09-16 03:55] abandoned-prototype commented on #737
Thanks! I think it's fine to just merge #831. Great work on containing all these errors with surprisingly few changes.

[2020-09-16 18:24] egfrank commented on #825
I can work on this! It seems pretty self-explanatory tbh.

For writing tests, it seems like there are a three tests about editing assignments in `tests/routes/test_officer_and_department` but they all focus on editing the officer badge number. Should I just write a new test for adding and editing the resign date?

Also btw noticed there isn't validation that the resign date comes after the start d

[2020-09-16 18:55] abandoned-prototype commented on #825
Great, I assigned it to you. Will reply to the other details later, but it sounds like you are on a good path

[2020-09-17 02:26] abandoned-prototype commented on #825
I think it's fine to add to the existing tests, maybe add new ones if you want to do a different approach or do additional tests

Good call. I think it makes sense to validate that, at least with the data that comes from the form

[2020-09-17 23:30] egfrank commented on #825
Thanks for the responses, it definitely was the right call to add to existing tests so you'll notice I changed some test names in `test_officers_and_department.py` to reflect that it generally was testing add/editing assignment.

I added validation which seems to be working fine. The biggest twist is that once I added the validation, I noticed that the validation errors were not actually making it

[2020-09-19 23:12] alankessler commented on #562
https://github.com/freelawproject/courtlistener keeps a caching archive of many PACER cases at https://www.courtlistener.com/recap/

@mlissner and the other folks at @FreeLawProject are awesome and may have some insights.

[2020-09-21 18:14] mlissner commented on #562
We've had a few requests for PACER data on cops. The big challenge is that the name of the cop isn't always in the case name. As a result, it's pretty hard to look up these cases:

 - PACER only allows search by case name
 - CourtListener, Lexis, West, Bloomberg, etc. let you do more, but they don't have every case searchable.

So you can do some digging, but it's tough. I'll add though that of th

[2020-09-22 18:04] mlissner commented on #562
Sorry, just to clarify b/c I've confused at least one person. If folks wanted to work with us, I might be able to do the work pro bono, but the PACER fees would still need to get covered somehow. (And normally, when it's not pro bono, this costs around $5k + PACER fees as a starting point through Free Law Project.)

[2020-09-25 05:55] EMCain commented on #711
I created a draft PR for this. It's not as clean or complete as I'd like but I think realistically I've been putting up wrapping this up and we are mostly done, so could we get some help figuring out what needs to be done for it to be ready? @brianmwaters @abandoned-prototype @redshiftzero Thank you!

[2020-09-27 03:56] #574 closed

[2020-09-27 09:14] dismantl opened #834 "Salary slider filter on browse page"
It would be useful to be able to filter officers on their salary and/or total take-home income (including overtime). I'm thinking one or more of those sliders like you'll see for price range filtering on web commerce sites.

[2020-09-27 22:41] #770 closed

[2020-09-27 23:15] #795 closed

[2020-09-27 23:49] #825 closed

[2020-09-28 00:46] dismantl opened #836 "Indicate whether officers are actively employed or retired"
Similar to #825, it would be good to have a way to distinguish between officers that are actively employed and those that are not. Would not being actively employed be equivalent to being "retired"? I'm imagining either a boolean flag for active/not-active or perhaps a retirement date field. What do you all think would be most useful?

[2020-09-28 01:13] abandoned-prototype commented on #836
A retirement-date field is part of https://github.com/lucyparsons/OpenOversight/pull/642. Not sure if there is a solution for when we only know the officer is retired but not when exactly.

[2020-10-09 02:47] abandoned-prototype opened #837 "Add how-to on contributing anonymously to CONTRIB.md"
When people open a PR or respond to issues their github profile is associated with this project. Additionally, git itself adds meta-data to every commit, that contains an email-address and name stored locally. Not everyone is comfortable having their real name publicly associated with this project, and everyone contributing should know the information they share.
So we should add some instructions

[2020-10-09 03:03] r4v5 commented on #837
I'd also say part of the scope of this would be to update our [pull request template](https://github.com/lucyparsons/OpenOversight/blob/develop/PULL_REQUEST_TEMPLATE.md) with either a link to the info or a tl;dr summary for people.

[2020-10-18 20:27] McEileen opened #839 "Incidents can be linked to officers that don't belong to the incident department"
Desired outcome:
- If a user attempts to create an incident for a department, and then selects officers from another department as being involved in that incident, the user will see an error message

Current outcome:
- If a user attempts to create an incident for a department, and then selects officers from another department as being involved in that incident, the incident is created and persiste

[2020-10-18 20:30] McEileen opened #840 "New Incident Form has display bugs"
`<SPAN CLASS="TEXT-DANGER"></SPAN>` displays above several fields in the New Incident form.
![NewIncidentFormBug](https://user-images.githubusercontent.com/5529982/96385043-3f824780-115f-11eb-8ba7-31a092746fae.png)

[2020-10-18 20:50] McEileen opened #841 "New Officer Form throws a bug when a description or note is added"
Desired Outcome:
- When an admin or AC creates an officer, if they include a description, the app successfully creates the officer
- When an admin or AC creates an officer, if they include a description, the app successfully creates the officer

Current Outcome:
- When an admin or AC creates an officer and includes a description, the app throws the below bug:
[code]

- When an admin or AC creates

[2020-10-19 00:25] Alexandre2006 commented on #840
Hi! Could you assign me to this? I think I've found the problem. By the way, this is my first issue.

[2020-10-19 01:00] McEileen commented on #840
I assigned you. Thanks for helping out!

[2020-10-19 01:09] Alexandre2006 commented on #840
No problem!

[2020-10-19 20:10] Alexandre2006 commented on #840
Hi! Please check out my pull request. This is the easiest way to fix it (obviously) and makes no changes to the appearance other than removing the <span class=...

[2020-10-19 20:28] Alexandre2006 commented on #840
#842

[2020-10-20 05:54] abandoned-prototype commented on #840
Interestingly, this only seems to happen in local development. Curious what the original intent of this was and if it is supposed to be working according to the flask-wtf forms.

[2020-10-20 14:42] Alexandre2006 commented on #840
I wasn't able to get a server to run this but it seems that this may be the issue. I had to use a développement server through docker.

[2020-10-21 02:26] abandoned-prototype commented on #840
Yeah, the docker environment is what we use for development. Unfortunately this doesn't perfectly line up with the code running behind openoversight.com and staging.openoversight.com, as seen in this case. Fortunately this time it revealed a bug before it showed up in production, but might also happen the other way round.

I looked into it, and this turns out to be another installment of the pip r

[2020-10-21 17:43] Alexandre2006 commented on #840
Hi @abandoned-prototype! I added the stars back in my new pull request. #843

[2020-10-22 07:28] brianmwaters opened #844 "Enable uploading of .webp"
This is an increasingly common image file format that we should allow. We whitelist file extensions in a configuration file somewhere, so it should be a simple one-line fix to add .webp.

[2020-10-22 23:32] brianmwaters opened #846 "Ignore whitespace in name search"
In the NYPD data, some cops w/ two-word last names, have their names represented as one word. For example, Charles M. van Vooren is represented as "Carles M. VANVOOREN". A user who types "van vooren" into any of the search filters won't find him; they need to type "vanvooren". The fix is to ignore whitespace.

[2020-10-23 19:36] elimisteve commented on #8
@redshiftzero This activist and programmer featured in the New York Times 2 days ago built his own neural net to perform facial recognition of police officers: https://www.nytimes.com/2020/10/21/technology/facial-recognition-police.html . I wonder if his code is somewhere on GitHub! And you may want to reach out to him 👍 .

[2020-10-23 19:55] elimisteve commented on #8
Jen herself is quoted in the article, and OpenOversight is mentioned, too! Pretty cool.

[2020-10-23 20:08] rbavery commented on #8
@elimisteve @redshiftzero I'm currently working on something similar to Chris Howell with @porefluid (maker of NYPD MaksWatch https://twitter.com/nypdmaskwatch?lang=en).

 We have code to run object detection models to separate police and non-police and a server set up to annotate photos to improve model accuracy. The models and code we use are based on the open source detectron2 project, no AWS R

[2020-10-23 21:14] porefluid commented on #8
Great idea @rbavery! I just reached out to try to find a lead on contacting the activist mentioned in the NYT article but I think it would be fantastic if we can share data. I'll check back in if/when I find a lead

[2020-10-27 06:14] abandoned-prototype opened #847 "Fix all issues with image formats & add tests"
Recently we had problems with certain image-types not being recognized by [imghdr.what](https://docs.python.org/3/library/imghdr.html#imghdr.what,) which leads to errors, because we use that function extensively before uploading the image to S3. Additionally we also have an `ALLOWED_EXTENSION` config, which controls what image filename extensions are allowed when uploading an image.
Unfortunately

[2020-10-28 02:01] abandoned-prototype commented on #844
Hi @brianmwaters. Thanks for https://github.com/lucyparsons/OpenOversight/pull/845. I tested this on staging and found that we still need a small change on the javascript tool we use for the upload. I made that change here: https://github.com/lucyparsons/OpenOversight/pull/848. All other functionality I tested works

[2020-10-28 05:09] #844 closed

[2020-10-30 02:08] StringCheez commented on #696
I've implemented a first pass at correcting these bugs, but I'm getting a permission error when attempting to push to a feature branch:

[code]

I'm not sure if I'm doing something wrong, or if I need to be allowed to create branches. Should I fork the project and make my changes there?

[2020-10-30 02:24] abandoned-prototype commented on #696
Hi @StringCheez. Welcome!

You are correct, please create a branch on your fork. Unfortunately this isn't mentioned correctly in the contribution guide

[2020-10-30 02:34] StringCheez commented on #696
Will do, thanks for the info!

[2020-11-08 17:06] r4v5 commented on #740
This is probably a bit lower priority than it was because it still fits on the prod machine, but when it no longer does it'll be a real annoying time for us, so still better to fix :)

[2020-11-09 05:05] abandoned-prototype commented on #740
Thanks @r4v5 for fixing the production backup! So the remaining thing to do here is to find a better solution to back up the image data in our S3-bucket, and then have the existing backup functionality only deal with the database, right?

[2020-11-12 23:43] #840 closed

[2020-11-13 02:44] #696 closed

[2020-11-19 07:05] #837 closed

[2020-11-20 04:21] #820 closed

[2020-11-20 04:41] abandoned-prototype commented on #801
This is related to #253, probably should revisit the larger question of an OpenOversight logo

[2020-11-20 04:55] abandoned-prototype commented on #257
If I understand this correctly, the `.env` file was created as part of the vagrant deploy. We deprecated/removed the use of vagrant in https://github.com/lucyparsons/OpenOversight/pull/549, so I am pretty sure this issue is resolved as a result.

[2020-11-20 04:55] #257 closed

[2020-11-20 05:47] abandoned-prototype commented on #348
This was implemented in https://github.com/lucyparsons/OpenOversight/pull/506 for area coordinators and admins

[2020-11-20 05:47] #348 closed

[2020-11-20 05:54] abandoned-prototype commented on #847
We should consider https://github.com/lucyparsons/OpenOversight/issues/369 and the related PR https://github.com/lucyparsons/OpenOversight/pull/691 as part of this issue. Ideally incorporate that PR into this work as well

[2020-11-20 06:02] abandoned-prototype commented on #382
This sounds like a very interesting idea to me. Probably should give people an option to opt out of those emails as well. Could even go a step further and give people the option to opt-in to some kind of email notifications if there are new images to sort through

[2020-11-20 06:09] abandoned-prototype commented on #403
I have to assume this has been fixed, if not please create a new issue with steps to reproduce

[2020-11-20 06:09] #403 closed

[2020-11-20 06:18] abandoned-prototype commented on #414
It seems to me that this was covered by the work to show additional images an officer is tagged in on the officer's profile

[2020-11-20 06:18] #414 closed

[2020-11-20 06:51] #422 closed

[2020-11-20 06:54] abandoned-prototype commented on #451
Fixed by https://github.com/lucyparsons/OpenOversight/pull/506

[2020-11-20 06:54] #451 closed

[2020-11-20 07:14] abandoned-prototype commented on #528
This seems to be a duplicate of https://github.com/lucyparsons/OpenOversight/issues/381

[2020-11-20 07:14] #528 closed

[2020-11-20 07:33] abandoned-prototype commented on #584
I fixed that particular issue with Karla Rush, no server error this time. If this happens on a larger scale, the `advanced-csv-import`command could be used to fix it

[2020-11-20 07:33] #584 closed

[2020-11-20 07:35] abandoned-prototype commented on #611
FIxed by https://github.com/lucyparsons/OpenOversight/pull/646

[2020-11-20 07:35] #611 closed

[2020-11-20 07:41] abandoned-prototype commented on #742
related to https://github.com/lucyparsons/OpenOversight/issues/242

[2020-12-01 23:33] freddieoversteegen commented on #253
I'd love to take this and the favicon on, but is there a decision about which logo to use?

[2020-12-03 02:21] EMCain commented on #711
I fixed some final problems with the PR and I’m waiting for it to be approved and merged.

Some thoughts on the issues I want to create after this, I’m mostly writing this for my own reference since I intend to open them but I’d appreciate other people’s thoughts too.

# Make unified UX decisions + functions

How do we want to represent the concept of “data missing” (ie how  to translate NULL to a

[2020-12-03 07:19] #711 closed

[2020-12-11 01:32] r4v5 commented on #253
I vote for this (blue C in magnifying glass logo)
![OpenOversight_Logo5](https://user-images.githubusercontent.com/789416/101849963-62f1bf00-3b1e-11eb-9068-386749b4cb95.png)

Anyone have a problem with it?

[2021-01-19 03:37] abandoned-prototype commented on #846
Adding on to this, ignoring anything that isn't in the Latin alphabet (a-z) would probably be helpful. I just worked with a data set that had several first names that include `'` as well as hyphenated last names. And I don't image a US police department ever use letters from other alphabets in names, so ignoring anything but a-z shouldn't have any negative consequences

[2021-01-28 04:07] brianmwaters opened #856 "Leaving overtime field blank when adding a new officer causes an error"
When adding an officer using the form at https://openoversight.com/officer/new, if the "OVERTIME PAY" field is left blank, then after the form is submitted, the user sees an error that reads "Not a valid decimal value" (see screenshot).

![image](https://user-images.githubusercontent.com/12619481/106088660-5f2cf280-60f4-11eb-9ff8-4a14a14b59db.png)

The desired behavior should be, that if the OT fi

[2021-02-26 01:27] abandoned-prototype opened #857 "Very slow loading of rosters for departments with a medium number of officers"
Our queries to load the full roster for a department are not very efficient. Additionally there seems to be a bug where postgres makes wrong estimates and chooses the wrong algorithm to use in cases of departments with around 100-1000 officers. The result is currently particularly notable on staging with https://staging.openoversight.com/department/19 which seems to always just time out. However w

[2021-02-28 21:46] #857 closed

[2021-03-16 00:38] elimisteve opened #861 "Aligned project: PDAP, Police Data Accessibility Project"
Very interesting! Police Data Accessibility Project: https://pdap.io/

Looks like they're writing scrapers to collect public records about police departments, then providing access to said records.

And they've gone pretty viral on reddit lately: https://old.reddit.com/r/privacy/comments/m59o2g/i_think_i_accidentally_started_a_movement/

Consider reaching out to them so you can join forces!

[2021-04-27 10:55] bmwasaru commented on #776
Would something like this work?
![Screenshot 2021-04-27 at 13 18 42](https://user-images.githubusercontent.com/1927073/116230328-2e467300-a760-11eb-9a26-6c4af0266025.png)

[2021-04-27 23:40] brianmwaters commented on #776
I think that would be great, definitely an improvement.

[2021-05-04 04:53] abandoned-prototype opened #866 "CSV Import improvements"
Having used the advanced csv import feature multiple times for various different departments now I have a few things I think we can improve on the tool.

1) Automatically create job titles that do not exist yet, instead of failing. They can just be created in a random order, or maybe based on how many values we have per job title. By default all should be marked "sworn". An admin or area coordinat

[2021-05-04 05:58] abandoned-prototype opened #867 "Enable markdown for Incident Description"
Currently the incident description just throws the entered sanitized text between a set of `<p></p>`. For some flexibility it would be nice to maybe allow markdown for that field, so some formatting can be applied. Alternatively we could add different sections to the table, but I think there is a chance that people from different cities want different fields displayed, so markdown would allow us t

[2021-05-05 03:17] abandoned-prototype opened #868 "Unit assignment - selection to relevant department only"
When in the "Edit Officer Assignment" form (`https://openoversight.com/officer/<officer_id>/assignment/<assignment_id>`) the Unit dropdown shows all units in the database, not just those of the officer's department. Only the units that belong to the officer's department should be shown here and the backend part of the form should also reject trying to assign a unit from a different department.

![

[2021-05-14 04:24] AetherUnbound commented on #784
Hey folks! I'd also be really interested in some documentation on where to start with a dockerized version of this. From the looks of the provided compose file, that one appears to be for testing and not necessarily production use.

[2021-10-10 02:44] #867 closed

[2022-06-02 14:41] dismantl opened #886 "Email not sent on user registration"
When registering for a new user account on openoversight.com, I do not receive an email to confirm my account.

[2022-06-02 14:43] dismantl opened #887 "Confirmation email not sent on new user approval"
When registration approval is turned on and a new user registers, the admin must go to the user's account and check the "Approved" box. The expected behavior would be that then a confirmation email would be sent to the user after they are approved, but since PR #873 was merged this login was removed. Instead, no email is sent to notify the user that they have been approved and that they need to co

[2022-07-24 17:20] staranbeer opened #889 "overflow Scrollbar on homepage"
when the user first opens up the website, content is overflowing on the x axis.

[2022-07-26 15:42] erinburns opened #890 "404 error on Securedrop link in footer"
The Securedrop link in the footer on the [OpenOversight page](https://openoversight.lucyparsonslabs.com/) goes to this [page](https://lucyparsonslabs.com/securedrop/) which displays a 404 not found error and the following information:
Code: NoSuchKey
Message: The specified key does not exist.
Key: securedrop/index.html
RequestId: HVK4ASE125KW3W60
HostId: rdbBzQuFDOMRcpNXHqh3vyjK9E2FJvORd+U4cwlIklS

[2022-08-30 06:06] sea-kelp commented on #887
I think we fixed this same issue in our fork fyi: https://github.com/OrcaCollective/OpenOversight/pull/103

[2022-09-03 00:52] sea-kelp opened #892 "Disabling a user doesn't do anything"
Hello! I help out with the Seattle-area [OpenOversight fork](https://github.com/OrcaCollective/OpenOversight) and just wanted to make sure you're aware of a bug we found in our fork:

Feel free to pull in our fix from this PR: https://github.com/OrcaCollective/OpenOversight/pull/192

[2022-09-03 06:18] AetherUnbound commented on #892
I should note that it seems that "disabling" the user prevents them from performing the "Image classification" or "Officer identification" tasks accessible through the "Volunteer" tab!
![image](https://user-images.githubusercontent.com/10214785/188258528-d0717026-8695-4981-94ce-ea5dd19ccf27.png)

[2022-09-03 06:39] sea-kelp commented on #892
Thanks for pointing that out! :facepalm:

[2022-10-16 08:09] #892 closed